<div class="page page-invoice" data-ng-controller="ActivateCtrl">
	<section class="panel panel-default">
        <div class="panel-heading"><strong><i class="glyphicon glyphicon-credit-card"></i> Abonnement Activeren</strong></div>
        <div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<span class="btn btn-round btn-primary btn-lg btn-block btn-invoice-label" ng-class="{active: step == 1, future: step < 1}">1. <span>Kies uw versie</span></span>
					<span class="btn btn-round btn-primary btn-lg btn-block btn-invoice-label" ng-class="{active: step == 2, future: step < 2}">2. <span>Bevestig activatie</span></span>
				</div>
				
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-body activity-box" ng-show="step == 1">
                            <p>
                                U kunt hier kiezen naar welke versie van Patiëntenreview u wilt upgraden. <!--u>Bekijk de features per pakket</u-->
                            </p>
                            
                            <p>
                                <label class="ui-radio clear-label">
                                    <input type="radio" id="type_0" name="type[0]" value="0" ng-model="type" />
                                    <span></span>
                                </label>
                                <label for="type_0" class="label-normal">Patiëntenreview Basis</label>
                                <br />
                                <span class="help-block clear-help-block">&euro;275,00 excl. BTW per jaar</span>
                            </p>
                            
                            <p>
                                <label class="ui-radio clear-label">
                                    <input type="radio" id="type_1" name="type[0]" value="1" ng-model="type" />
                                    <span></span>
                                </label>
                                <label for="type_1" class="label-normal">Patiëntenreview Pro</label>
                                <br />
                                <span class="help-block clear-help-block">&euro;450,00 excl. BTW per jaar</span>
                            </p>
                            
                            <p>
                                <label class="ui-radio clear-label">
                                    <input type="radio" id="type_2" name="type[0]" value="2" ng-model="type" />
                                    <span></span>
                                </label>
                                <label for="type_2" class="label-normal">Patiëntenreview Ultimate</label>
                                <br />
                                <span class="help-block clear-help-block">&euro;600,00 excl. BTW per jaar</span>
                            </p>
						</div>

						<!--div>
							<div class="row">
								<div class="col-sm-6">
									<h4 class="text-center type-header">Patiëntenreview Basis</h4>
									
									<p class="text-justify">
										Patiëntenreview Basis geeft uw praktijk een succesvolle start bij het
										opbouwen van een sterke online reputatie. U krijgt:
									</p>
									
									<ul class="type-ul">
										<li class="text-justify">Reviews van uw patiënten op Google, Facebook en Zorgkaart Nederland.</li>
										<li class="text-justify">De mogelijkheid om uw online reputatie op praktijkniveau te analyseren. U
										krijgt zowel kwantitatief als kwalitatief inzicht in hoe uw patiëntenkring
										denkt over uw praktijk.</li>
									</ul>
								</div>
								
								<div class="col-sm-6">
									<h4 class="text-center type-header">Patiëntenreview <span class="pro">Pro</span></h4>
									
									<p class="text-justify">
										Patiëntenreview Pro geeft uw praktijk alle middelen in handen om een
										reputatie op te bouwen die met kop en schouders boven uw concurrenten
										uitsteekt. U krijgt:
									</p>
									
									<ul class="type-ul">
										<li class="text-justify">Reviews van uw patiënten op Google, Facebook, Zorgkaart Nederland,
										Independer en andere kanalen.</li>
										<li class="text-justify">U kunt desgewenst uw patiënten doorverwijzen naar een pagina voor
										bijvoorbeeld het afnemen van een branche-enquête.</li>
										<li class="text-justify">U kunt uw eigen logo tonen in de e-mailuitnodigingen.</li>
										<li class="text-justify">U kunt uw online reputatie op zowel praktijk- als zorgverlenerniveau
										analyseren. U krijgt <b>2 gratis zorgverleners</b> welke u kunt toevoegen aan uw
										account en waarmee u beoordelingen kunt verzamelen.</li>
										<li class="text-justify">U kunt de NPS-score van uw praktijk en zorgverleners vergelijken met het
										landelijk gemiddelde.</li>
									</ul>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<p class="text-center">
										<label for="type_0" class="label-normal">Kies Patiëntenreview Basis:</label>
										&nbsp;
										<label class="ui-radio clear-label">
											<input type="radio" id="type_0" name="type[0]" value="0" ng-model="type" />
											<span></span>
										</label>
										<br />
										<span class="help-block clear-help-block">&euro;275,00 per jaar</span>
									</p>
								</div>
								
								<div class="col-sm-6">
									<p class="text-center">
										<label for="type_1" class="label-normal">Kies Patiëntenreview Pro:</label>
										&nbsp;
										<label class="ui-radio clear-label">
											<input type="radio" id="type_1" name="type[0]" value="1" ng-model="type" />
											<span></span>
										</label>
										<br />
										<span class="help-block clear-help-block">&euro;450,00 per jaar</span>
									</p>
								</div>
							</div>
						</div-->
						
						<div class="panel-body" ng-show="step == 2">
							<p>
								Als u ervoor kiest uw abonnement te activeren ontvangt u een factuur op het bij ons
								bekende e-mailadres. Indien u akkoord gaat, zullen we uw account met directe ingang
								activeren. Als u momenteel gebruikmaakt van een proefversie zal uw betaaltermijn starten na afloop van de proefperiode.
							</p>
							
							<p>
								Dit zijn de details van het abonnement:
							</p>
							
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Beschrijving</th>
										<th>Bedrag</th>
									</tr>
								</thead>
								
								<tbody ng-if="user.account != '1'">
									<tr>
										<td>Patiëntenreview {{ type == 0 ? 'Basis' : 'Pro' }}</td>
										<td>&euro;{{info.price.toFixed(2).replace(".", ",")}}</td>
									</tr>
									
									<tr ng-if="doctors.length > 0">
										<td><strong>Zorgverlener:
										<span ng-repeat="(index, d) in doctors">
											{{d.firstname}} {{d.lastname}}{{index < (doctors.length - 1) ? "," : ""}}
										</span>
										</strong></td>
										<td><strong>&euro;{{info.doctors_amount.toFixed(2).replace(".", ",")}}</strong></td>
									</tr>
									
									<tr>
										<td>Totaal excl. BTW</td>
										<td>&euro;{{info.amount.toFixed(2).replace(".", ",")}}</td>
									</tr>
								</tbody>
								
								<tbody ng-if="user.account == '1' && user.account_type == '0'">
									<tr>
										<td>Patiëntenreview {{type == 1 ? 'Pro' : 'Ultimate'}} {{info.today}} t/m {{info.suspension}}</td>
										<td>&euro;{{(type == 1 ? info.half_pro : info.half_ultimate).toFixed(2).replace(".", ",")}}</td>
									</tr>
									
									<tr>
                                        <td>{{info.days}} ongebruikte dagen Patiëntenreview {{user.account_type == '0' ? 'Basis' : 'Pro'}}</td>
										<td>&euro;{{info.half_basic.toFixed(2).replace(".", ",")}}-</td>
									</tr>

									<tr>
										<td>Totaal excl. BTW</td>
										<td>&euro;{{info.amount.toFixed(2).replace(".", ",")}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="text-right" ng-if="step == 1">
						<a href="javascript:void(0);" class="btn btn-secondary disabled">Vorige</a>
						&nbsp;
						<a href="javascript:void(0);" class="btn btn-primary" ng-click="next_step()" ng-disabled="user.account == 1 && user.account_type == 0 && type == 0">Volgende</a>
					</div>
					
					<div class="text-right" ng-if="step == 2">
						<a href="#/pages/subscription" class="btn btn-warning">Annuleer</a>
						&nbsp;
						<a href="javascript:void(0);" class="btn btn-success" ng-click="activate()">Akkoord</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>