<div class="page page-invoice" data-ng-controller="DoctorsCtrl">
	<section class="panel panel-default">
        <div class="panel-heading"><strong><i class="glyphicon glyphicon-user"></i> Voeg nieuwe zorgverlener toe</strong></div>
        <div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<span class="btn btn-round btn-primary btn-lg btn-block btn-invoice-label" ng-class="{active: (step == 0), future: (step < 0), past: (step > 0)}">1. <span>Gegevens zorgverlener</span></span>
					<span class="btn btn-round btn-primary btn-lg btn-block btn-invoice-label" ng-class="{active: (step == 1), future: (step < 1), past: (step > 1)}">2. <span>Online profiel</span></span>
					<span class="btn btn-round btn-primary btn-lg btn-block btn-invoice-label" ng-class="{active: (step == 2), future: (step < 2), past: (step > 2)}">3. <span>Accountupgrade</span></span>
				</div>
				
				<div class="col-md-8">
					<div class="doctors-add-step" ng-class="{active: step == 0}">
						<div class="panel panel-default">
							<div class="panel-body">
								<form class="form-horizontal" role="form" name="form">
									<div class="form-group">
										<label class="col-md-4">Voornaam</label>
										<div class="col-md-8">
											<input type="text" class="form-control" name="firstname" ng-model="doctor.firstname" value="" required="required" />
										</div>
									</div>
									
									<div class="divider divider-dashed divider-lg pull-in"></div>
									
									<div class="form-group">
										<label class="col-md-4">Achternaam</label>
										<div class="col-md-8">
											<input type="text" class="form-control" name="lastname" ng-model="doctor.lastname" value="" required="required" />
										</div>
									</div>
									
									<div class="divider divider-dashed divider-lg pull-in"></div>
									
									<div class="form-group">
										<label class="col-md-4">Aanhef</label>
										<div class="col-md-8">
											<select class="form-control" name="title" ng-model="doctor.title">
												<option value="heer">heer</option>
												<option value="mevrouw">mevrouw</option>
												<option value="Dr.">Dr.</option>
												<option value="Drs.">Drs.</option>
											</select>
										</div>
									</div>
									
									<div class="divider divider-dashed divider-lg pull-in"></div>
									
									<div class="form-group">
										<label class="col-md-4">Profielfoto</label>
										<div class="col-md-8">
											<span class="avatar_here"><img src="{{doctor.avatar}}" alt="" ng-if="doctor.avatar != ''" /><a href="javascript:void(0);" class="remove_logo" ng-if="doctor.avatar != ''" ng-click="remove_avatar()" ng-class="{show: doctor.avatar != ''}"><i class="glyphicon glyphicon-remove"></i></a></span>
											<upload-button class="btn btn-primary btn-upload" url="/pub/upload_avatar/" on-success="onAvatar(response)">Upload avatar</upload-button>
										</div>
									</div>
									
									<div class="divider divider-dashed divider-lg pull-in"></div>
									
									<div class="form-group">
										<label class="col-md-4">Categorie zorgverlener</label>
										<div class="col-md-8">
											<input type="text" class="form-control" name="category" ng-model="doctor.cat" value="" ng-disabled="doctors_count <= 6" />
											<div class="help-block">
												Indien u 6 of meer zorgverleners heeft toegevoegd aan uw account kunt u een categorie invullen op basis waarvan de zorgverleners worden getoond.
											</div>
										</div>
									</div>
									
									<div class="divider divider-dashed divider-lg pull-in"></div>
									
									<div class="form-group">
										<label class="col-md-4">Waarde in Excel-bestand</label>
										<div class="col-md-8">
											<input type="text" class="form-control" name="name" ng-model="doctor.name" value="" required="required" />
										</div>
									</div>
								</form>
							</div>
						</div>
						
						<div class="text-right">
							<a href="javascript:void(0);" class="btn btn-secondary disabled">Vorige</a>
							&nbsp;
							<a href="javascript:void(0);" class="btn btn-primary" ng-click="next_step(1)">Volgende</a>
						</div>
					</div>
					
					<div class="doctors-add-step" ng-class="{active: step == 1}">
						<div class="panel panel-default">
							<div class="panel-body">
								<form class="form-horizontal" role="form" name="form">
									<div class="form-group">
										<label class="col-md-4">Zorgkaart</label>
										<div class="col-md-8">
											<input type="text" class="form-control" name="zorgkaart" ng-model="doctor.zorgkaart" value="" required="required" placeholder="Link naar het zorgkaartprofiel van deze zorgverlener" />
										</div>
									</div>
									
									<div class="divider divider-dashed divider-lg pull-in"></div>
								</form>
							</div>
						</div>
						
						<div class="text-right">
							<a href="javascript:void(0);" class="btn btn-primary" ng-click="prev_step(0)">Vorige</a>
							&nbsp;
							<a href="javascript:void(0);" class="btn btn-primary" ng-click="next_step(2)">Volgende</a>
						</div>
					</div>

					<div class="doctors-add-step" ng-class="{active: step == 2}">
						<div class="panel panel-default">
							<div class="panel-body">
								<div ng-if="amount.doctor_amount > 0 && user.account == 1">
									<p>
										Met het toevoegen van een nieuwe zorgverlener aan uw account wordt uw jaarlijkse
										factuur verhoogd met een bedrag van <strong>&euro;{{amount.doctor_amount.toFixed(2).replace(".", ",")}}</strong>.
									</p>
									
									<p>
										Voor de huidige abbonementstermijn wordt het te betalen bedrag uitgerekend aan de hand van de resterende dagen.
									</p>
									
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th>Beschrijving</th>
													<th>Bedrag</th>
												</tr>
											</thead>
											
											<!--tbody>
												<tr>
													<td>Patiëntenreview {{user.account_type == 0 ? 'Basis' : 'Pro'}}</td>
													<td>€{{ (user.account_type == 0 ? amount.base_amount : amount.pro_amount).toFixed(2).replace(".", ",")}}</td>
												</tr>
												
												<tr>
													<td><strong>Zorgverlener:
													<span>{{doctor.firstname}} {{doctor.lastname}}{{amount.doctors.length ? "," : ""}}<span>
													<span ng-repeat="(index, d) in amount.doctors">
														{{d.firstname}} {{d.lastname}}{{index < (amount.doctors.length - 1) ? "," : ""}}
													</span>
													</strong></td>
													<td><strong>€{{(amount.doctor_amount * (amount.doctors_pay.length + 1)).toFixed(2).replace(".", ",")}}</strong></td>
												</tr>
												
												<tr>
													<td>Totaal excl. BTW</td>
													<td>€{{((user.account_type == 0 ? amount.base_amount : amount.pro_amount) + (amount.doctor_amount * (amount.doctors_pay.length + 1))).toFixed(2).replace(".", ",")}}</td>
												</tr>
											</tbody-->
											
											<tbody>
												<tr>
													<td><strong>Zorgverlener:
													<span>{{doctor.firstname}} {{doctor.lastname}} t/m {{amount.doctor_end}}<span>
													</td>
													<td><strong>€{{(amount.doctor_amount).toFixed(2).replace(".", ",")}}</strong></td>
												</tr>
												
												<tr>
													<td>Totaal excl. BTW</td>
													<td>€{{(amount.doctor_amount).toFixed(2).replace(".", ",")}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								<p ng-if="amount.doctor_amount == 0 && user.account == 1">
									Omdat u een Patiëntenreview Pro gebruiker bent mag u gratis tot {{amount.doctor_number}} zorgverleners aan uw abonnement koppelen.
								</p>

								<p ng-if="user.account == 2">
									Omdat u gebruikmaakt van een proefversie van Patiëntenreview kunt u gratis onbeperkt zorgverleners toevoegen.
								</p>
							</div>
						</div>
						
						<div class="text-right">
							<a href="javascript:void(0);" class="btn btn-primary" ng-click="prev_step(1)">Vorige</a>
							&nbsp;
							<a href="javascript:void(0);" class="btn btn-success" ng-click="save_doctor()">Akkoord</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>