<div class="page page-invoice" data-ng-controller="DoctorsCtrl">
	<section class="panel panel-default">
        <div class="panel-heading"><strong><i class="glyphicon glyphicon-user"></i> Zorgverleners</strong></div>
		<div class="panel-body">
			U kunt beoordelingen verzamelen voor individuele zorgverleners door ze toe te voegen aan uw abonnement. Uw patiënten kunnen vervolgens aangeven bij welke zorgverlener ze zijn behandeld. Om dit te automatiseren kunt u in het Excel-bestand per patiënt het zorgverlenernummer aangeven.
		</div>
        <div class="panel-body">
			<div class="table-responsive">
				<table class="table" ng-if="doctors.length > 0">
					<thead>
						<tr>
							<th>Zorgverlenernummer</th>
							<th>Aanhef</th>
							<th>Voornaam</th>
							<th>Achternaam</th>
							<th>Instellingen</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in doctors">
							<td>{{d.id}}</td>
							<td>{{d.title}}</td>
							<td>{{d.firstname}}</td>
							<td>{{d.lastname}}</td>
							<td><a href="#/pages/doctors_edit/{{d.id}}"><i class="glyphicon glyphicon-cog"></i></a></td>
							<td><a href="javascript:void(0);" class="btn btn-sm btn-primary" ng-click="remove_doctor(d.id)">Verwijder dit profiel</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<a href="#/pages/doctors_add" class="btn btn-primary">Voeg zorgverlener toe...</a>
		</div>
	</section>
</div>

<script type="text/ng-template" id="removeDoctor.html">
	<div class="modal-header">
		<h3>
			Zorgverlener verwijderen
		</h3>
	</div>
	<div class="modal-body">
		<p>
			Het verwijderen van dit zorgprofiel zorgt ervoor dat alle ontvangen beoordelingen en andere
			gegevens gerelateerd aan dit profiel definitief zullen worden verwijderd. Deze actie kan niet
			ongedaan worden gemaakt.
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
		<button class="btn btn-primary" ng-click="remove()">Verwijder</button>
	</div>
</script>