<div class="page page-profile" ng-controller="DoctorsCtrl">
	<section class="panel panel-default">
        <div class="panel-heading"><strong>Instellingen</strong></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" name="form">
                <div class="form-group">
                    <label class="col-md-4">Voornaam</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="firstname" ng-model="doctor.firstname" value="" required="required" />
                    </div>
                </div>
				
                <div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Achternaam</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="lastname" ng-model="doctor.lastname" value="" required="required" />
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
					<label class="col-md-4">Aanhef</label>
					<div class="col-md-8">
						<select class="form-control" name="title" ng-model="doctor.title" required="required">
							<option value="heer">heer</option>
							<option value="mevrouw">mevrouw</option>
							<option value="Dr.">Dr.</option>
							<option value="Drs.">Drs.</option>
						</select>
					</div>
				</div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Zorgkaart</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-class="zorgkaart" name="zorgkaart" ng-model="doctor.zorgkaart" ng-change="check_link()" value="" />
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Link naar beoordelingspagina</label>
					<div class="col-md-1 col-xs-3 margin-bottom">
                        <label class="ui-switch ui-switch-lg"><input type="checkbox" name="short_checked" ng-model="doctor.short_checked" ng-checked="doctor.short_checked == '1'" /><i></i></label>
                    </div>
                    <div class="col-md-offset-4 col-md-8 col-xs-12" ng-show="doctor.short_checked == '1'">
						<div class="input-group">
							<span class="input-group-addon">app.patientenreview.nl/</span>
							<input type="text" class="form-control" name="name" ng-model="doctor.short" value="" ng-change="validate_url()" ng-class="short_class" />
						</div>
						
						<div class="help-block">
							U kunt een aangepaste link naar de beoordelingspagina van de 
							zorgverlener maken zodat u per zorgverlener anonieme beoordelingen kunt ontvangen.
						</div>
                    </div>
                </div>

                <div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="text-right">
					<a href="#/pages/doctors" class="btn btn-default">Annuleer</a>
					&nbsp;
					<a href="javascript:void(0);" class="btn btn-primary" ng-click="save_doctor()">Bewaar</a>
				</div>
            </form>
        </div>
    </section>
</div>