<div class="page-forgot" ng-controller="authCtrl">
    <div class="signin-header">
        <section class="logo">
            <div class="signin_logo">
				<h1><a href="#/"><img src="application/views/images/logo_full.png" alt="{{main.brand}}" /></a></h1>
			</div>
        </section>
    </div>

    <div class="form-container">
        <div class="additional-info text-center">
            <p class="text-small">Voer het e-mailadres in dat u hebt gebruikt bij het aanvragen van u abonnement. We sturen u een e-mail met daarin instructies voor het herstellen van uw wachtwoord.</p>
        </div>

        <div class="form-container text-center">
            <form class="form-horizontal" name="form">
                <div class="form-group">
                    <div class="input-group input-group-first">
                        <span class="input-group-addon">
                            <span class="ti-email"></span>
                        </span>
                        <input type="email" name="email" class="form-control input-lg" placeholder="E-mailadres" ng-model="email" required="required" />
                    </div>
                </div>

                <div class="divider divider-lg"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block btn-success" ng-click="reset()">Herstel</button>
                </div>
            </form>
        </div>
    </div>
</div>