<div class="page page-profile" ng-controller="DoctorsCtrl">
	<section class="panel panel-default">
        <div class="panel-heading"><strong>Instellingen</strong></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" name="form">
				<div class="form-group">
                    <label class="col-md-4">Locatie</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="title" ng-model="location.title" value="" required="required" />
                    </div>
                </div>
				
                <div class="divider divider-dashed divider-lg pull-in"></div>
				
                <div class="form-group">
                    <label class="col-md-4">Adres</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="address" ng-model="location.address" value="" required="required" />
                    </div>
                </div>
				
                <div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Postcode</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="postcode" ng-model="location.postcode" value="" required="required" />
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
					<label class="col-md-4">Stad</label>
					<div class="col-md-8">
						<input type="text" class="form-control" name="city" ng-model="location.city" value="" required="required" />
					</div>
				</div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Waarde in Excel-bestand</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="name" ng-model="location.name" value="" />
                    </div>
                </div>

                <div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="text-right">
					<a href="#/pages/advanced" class="btn btn-default">Annuleer</a>
					&nbsp;
					<a href="javascript:void(0);" class="btn btn-primary" ng-click="save_location()">Bewaar</a>
				</div>
            </form>
        </div>
    </section>
</div>