<div class="page-forgot" ng-controller="authCtrl">
    <div class="signin-header">
        <section class="logo">
            <div class="signin_logo">
				<h1><a href="#/"><img src="application/views/images/logo_full.png" alt="{{main.brand}}" /></a></h1>
			</div>
        </section>
    </div>

    <div class="form-container">
        <div class="form-container text-center">
            <form class="form-horizontal" name="form">
                <div class="form-group">
                    <div class="input-group input-group-first">
                        <span class="input-group-addon">
                            <span class="ti-lock"></span>
                        </span>
                        <input type="password" name="password" class="form-control input-lg" placeholder="Wachtwoord" ng-model="password" required="required" />
                    </div>
                </div>
				
				<div class="form-group">
                    <div class="input-group input-group-first">
                        <span class="input-group-addon">
                            <span class="ti-lock"></span>
                        </span>
                        <input type="password" name="confirm" class="form-control input-lg" placeholder="Bevestig wachtwoord" ng-model="confirm" required="required" />
                    </div>
                </div>

                <div class="divider divider-lg"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block btn-success" ng-click="save_pass()">Bewaar nieuw wachtwoord</button>
                </div>
            </form>
        </div>
    </div>
</div>