<div class="page page-profile" ng-controller="ProfileCtrl" ng-init="profile_init()">
	<section class="panel panel-default">
        <div class="panel-heading"><strong>E-mailuitnodigingen</strong></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" name="form">
				<div class="form-group" id="intro2">
                    <label class="col-md-4">Onderwerp van e-mail aan patiënten</label>
                    <div class="col-md-8 hidden-container">
                        <input type="text" class="form-control" name="subject" ng-model="user.emails.subject" />
						<span class="help-block with-margin" ng-if="user.account == '2' || user.account_type == '1'">
							Klik om een variabele in te voegen:
							<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Aanhef Patiënt')">Aanhef Patiënt</a>
							<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Voornaam Patiënt')">Voornaam Patiënt</a>
							<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Achternaam Patiënt')">Achternaam Patiënt</a>
							<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Aanhef Zorgverlener')">Aanhef Zorgverlener</a>
							<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Voornaam Zorgverlener')">Voornaam Zorgverlener</a>
							<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Achternaam Zorgverlener')">Achternaam Zorgverlener</a>
							<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Naam Praktijk')">Naam Praktijk</a>
						</span>
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4 col-xs-12">E-mailherinnering uploaden patiëntenbestand</label>
					<div class="col-md-1 col-xs-3">
                        <label class="ui-switch ui-switch-lg"><input type="checkbox" name="reminder_checked" ng-model="user.reminder_checked" ng-checked="user.reminder_checked == '1'" /><i></i></label>
                    </div>
                    <div class="col-md-7 col-xs-9 with-time" ng-if="user.reminder_checked">
                        <label class="ui-radio"><input name="reminder_period" type="radio" value="0" ng-model="user.reminder_period" ng-checked="user.reminder_period == '0'"><span>Elke week</span></label>
						<label class="ui-radio"><input name="reminder_period" type="radio" value="1" ng-model="user.reminder_period" ng-checked="user.reminder_period == '1'"><span>Elke dag</span></label>
						<span class="ui-select days" ng-if="user.reminder_period == '0'">
							<select ng-model="user.reminder_day">
								<option value="1">Maandag</option>
								<option value="2">Dinsdag</option>
								<option value="3">Woensdag</option>
								<option value="4">Donderdag</option>
								<option value="5">Vrijdag</option>
								<option value="6">Zaterdag</option>
								<option value="7">Zondag</option>
							</select>
						</span>
						om
						<timepicker ng-model="user.reminder_time" class="ui-timepicker" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>
                    </div>
                </div>

                <div class="divider divider-dashed divider-lg pull-in"></div>

				<div class="form-group">
                    <label class="col-md-4">E-mailherinnering beoordeling patiënt</label>
                    <div class="col-md-8">
                        <label class="ui-switch ui-switch-lg">
							<input type="checkbox" name="patients_reminder" ng-model="user.patients_reminder" ng-checked="user.patients_reminder == '1'" />
							<i></i>
						</label>
						<span class="help-block">
							Het inschakelen van dit onderdeel zorgt ervoor dat uw patiënt na 3 dagen een eenmalige herinnering ontvangt indien er niet is doorgeklikt naar één van uw online profielen.
						</span>
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>

				<div class="form-group">
                    <label class="col-md-4">Maximum te ontvangen uitnodigingen</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="user.emails_skip">
							<option value="0"></option>
							<option value="1">Eén keer per week</option>
							<option value="2">Eén keer per maand</option>
							<option value="3">Eén keer per 3 maanden</option>
						</select>
						<span class="help-block">
							Met dit onderdeel zorgt u ervoor dat e-mailadressen van patiënten worden uitgefilterd indien zij reeds binnen de aangegeven periode een uitnodiging tot beoordeling hebben ontvangen.
						</span>
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Promotiecampagne<span class="label label-primary label-pro" ng-show="user.account_type == '0' && user.account != 2" ng-click="upgrade_to_pro()">Pro</span></label>
                    <div class="col-md-8" ng-class="{'basis-box': user.account_type == '0' && user.organization == '0' && user.account != 2}" ng-click="upgrade_to_pro()">
                        <label class="ui-switch ui-switch-lg">
							<input type="checkbox" name="promo_checked" ng-model="user.promo_checked" ng-checked="user.promo_checked == '1'" ng-change="user.promo_checked == '1' ? email_text_class = 'open' : ''" />
							<i></i>
						</label>
						<span class="help-block">
							Het inschakelen van dit onderdeel plaatst een call-to-action blok in uw e-mail. U kunt de inhoud van dit blok aanpassen door op de knop 'Wijzig e-mail...' te klikken.
						</span>
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group" id="intro3">
                    <label class="col-md-4">Tekst van e-mail aan patiënten</label>
                    <div class="col-md-8">
						<span class="help-block help-first">
							U kunt de tekst van de e-mail hieronder naar wens aanpassen.
						</span>
						
						<!--a href="javascript:void(0);" class="btn btn-primary" ng-click="email_text_class = 'open'" ng-show="email_text_class == 'close'">Wijzig e-mail...</a-->

						<div class="email-text-container open">
							<div class="fr-element fr-view" style="margin: 0 auto; min-width: 320px; background: #EAEAEA;">
								<div style="height: 30px; background: #fff; padding: 10px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);">
									<table cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td style="border: 0; text-align: center; padding: 0; margin: 0; font-size: 0; line-height: 0; vertical-align: top;">
												<a href="javascript:void(0);">
													<img src="{{ (user.logo != '' && (user.account == '2' || user.account_type == '1')) ? user.logo : '/application/views/images/logo_full.png' }}" height="30" alt="" />
												</a>
											</td>
										</tr>
									</table>
								</div>
								
								<table cellpadding="0" cellspacing="0" width="100%" ng-if="user.emails.header != ''">
									<tr ng-show="user.rating_questions == '0'">
										<td ng-bind-html="find_tags((user.emails.header || 'Klik om tekst in te voegen...'), 'header')" ng-click="emails_edit('header', $event)" class="emails-edit" style="border: 0; padding: 0 15px; height: 150px; vertical-align: middle; text-align: center; font: 30px/1.4 arial, sans-serif; color: #fff; background-image: url('/application/views/images/email-back.png'); background-repeat: no-repeat; background-position: center; background-color: {{user.color || '#0f75bc'}}; background-size: cover;">
										</td>
									</tr>
									
									<tr ng-show="user.rating_questions == '1'">
										<td ng-bind-html="find_tags((user.emails.header_mq || 'Klik om tekst in te voegen...'), 'header_mq')" ng-click="emails_edit('header_mq', $event)" class="emails-edit"  style="border: 0; padding: 0 15px; height: 150px; vertical-align: middle; text-align: center; font: 30px/1.4 arial, sans-serif; color: #fff; background-image: url('/application/views/images/email-back.png'); background-repeat: no-repeat; background-position: center; background-color: {{user.color || '#0f75bc'}}; background-size: cover;">
										</td>
									</tr>
								</table>
								
								<div style="background: #fff; max-width: 700px; margin: 0 auto;">
									<div style="padding: 30px;">
										<p ng-show="user.rating_questions == '0'" ng-bind-html="find_tags((user.emails.text1 || 'Klik om tekst in te voegen...'), 'text1')" ng-click="emails_edit('text1', $event)" class="emails-edit" style="margin: 0; font: 14px/1.3 arial, sans-serif; color: #525354; padding-bottom: 15px;">
										</p>
										
										<p ng-show="user.rating_questions == '1'" ng-bind-html="find_tags((user.emails.text1_mq || 'Klik om tekst in te voegen...'), 'text1_mq')" ng-click="emails_edit('text1_mq', $event)" class="emails-edit" style="margin: 0; font: 14px/1.3 arial, sans-serif; color: #525354; padding-bottom: 15px;">
										</p>
										
										<p ng-bind-html="find_tags((user.emails.promo || 'Voer hier uw promotietekst in'), 'promo')" ng-click="emails_edit('promo', $event)" class="emails-edit" ng-if="user.promo_checked == '1'" style="padding: 15px; background-color: #F0A400; font: bold 14px/1.3 arial, sans-serif; color: #fff; text-align: center; margin: 0;">
										</p>
										
										<div ng-click="stars_edit($event)" class="emails-edit">
											<div ng-if="user.stars_type == 1" style="width: 100%; margin: 0 auto; padding: 20px 0; font-size: 0; white-space: nowrap;">
												<a href="javascript:void(0);" class="btn btn-primary btn-block" style="padding: 15px 0;">{{user.stars_text || "Klik hier om te beoordelen"}}</a>
											</div>
											
											<div ng-if="user.stars_type == 2" style="width: 100%; margin: 0 auto; padding: 30px 0; font-size: 0; white-space: nowrap;">
												<table cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse;">
													<tr>
														<td style="border: 0; vertical-align: middle; width: 18%; font: 13px/1.3 arial, sans-serif; color: #ccc; text-align: right; padding-right: 2%;">
															Onwaarschijnlijk
														</td>
														<td style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; background-image: url('/application/views/images/star.png'); background-repeat: no-repeat; background-position: center 0; background-size: 100% auto;">
																<img src="/application/views/images/star_default.png" alt="" style="width: 100%;" />
															</a>
														</td>
														<td style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; background-image: url('/application/views/images/star.png'); background-repeat: no-repeat; background-position: center 0; background-size: 100% auto;">
																<img src="/application/views/images/star_default.png" alt="" style="width: 100%;" />
															</a>
														</td>
														<td style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; background-image: url('/application/views/images/star.png'); background-repeat: no-repeat; background-position: center 0; background-size: 100% auto;">
																<img src="/application/views/images/star_default.png" alt="" style="width: 100%;" />
															</a>
														</td>
														<td style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; background-image: url('/application/views/images/star.png'); background-repeat: no-repeat; background-position: center 0; background-size: 100% auto;">
																<img src="/application/views/images/star_default.png" alt="" style="width: 100%;" />
															</a>
														</td>
														<td style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; background-image: url('/application/views/images/star.png'); background-repeat: no-repeat; background-position: center 0; background-size: 100% auto;">
																<img src="/application/views/images/star_default.png" alt="" style="width: 100%;" />
															</a>
														</td>
														<td style="border: 0; vertical-align: middle; width: 18%; font: 13px/1.3 arial, sans-serif; color: #ccc; text-align: left; padding-left: 2%;">
															Waarschijnlijk
														</td>
													</tr>
												</table>
											</div>
											
											<div ng-if="user.stars_type == 0" style="width: 100%; margin: 0 auto; padding: 30px 0; font-size: 0;">
												<table class="inner" cellpadding="0" cellspacing="0" style="width: 100%; border-collapse: collapse; margin: 20px 0;">
													<tr>
														<td style="border: 0; vertical-align: middle; font: 13px/1.3 arial, sans-serif; color: #6E6E6E; text-align: right; padding-right: 2%;">
															&nbsp;
														</td>
														<td class="star" style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; opacity: 0.2;">
																<img src="/application/views/images/star_hover.png" alt="" style="width: 100%; vertical-align: middle;" />
															</a>
														</td>
														<td class="star" style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; opacity: 0.4;">
																<img src="/application/views/images/star_hover.png" alt="" style="width: 100%; vertical-align: middle;" />
															</a>
														</td>
														<td class="star" style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; opacity: 0.6;">
																<img src="/application/views/images/star_hover.png" alt="" style="width: 100%; vertical-align: middle;" />
															</a>
														</td>
														<td class="star" style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; opacity: 0.8;">
																<img src="/application/views/images/star_hover.png" alt="" style="width: 100%; vertical-align: middle;" />
															</a>
														</td>
														<td class="star" style="border: 0; vertical-align: middle; width: 12%; text-align: center;">
															<a href="javascript:void(0);" style="text-decoration: none; opacity: 1.0;">
																<img src="/application/views/images/star_hover.png" alt="" style="width: 100%; vertical-align: middle;" />
															</a>
														</td>
														<td style="border: 0; vertical-align: middle; font: 13px/1.3 arial, sans-serif; color: #6E6E6E; text-align: left; padding-left: 2%;">
															&nbsp;
														</td>
													</tr>
													
													<tr>
														<td style="border: 0; padding-top: 10px; font: 13px/1.3 arial, sans-serif; color: #6E6E6E; text-align: right; padding-right: 2%;">
															Onwaarschijnlijk
														</td>
														<td style="border: 0; width: 12%; font: 13px/1.3 arial, sans-serif; color: #6E6E6E; padding-top: 10px; text-align: center;">
															1
														</td>
														<td style="border: 0; width: 12%; font: 13px/1.3 arial, sans-serif; color: #6E6E6E; padding-top: 10px; text-align: center;">
															2
														</td>
														<td style="border: 0; width: 12%; font: 13px/1.3 arial, sans-serif; color: #6E6E6E; padding-top: 10px; text-align: center;">
															3
														</td>
														<td style="border: 0; width: 12%; font: 13px/1.3 arial, sans-serif; color: #6E6E6E; padding-top: 10px; text-align: center;">
															4
														</td>
														<td style="border: 0; width: 12%; font: 13px/1.3 arial, sans-serif; color: #6E6E6E; padding-top: 10px; text-align: center;">
															5
														</td>
														<td style="border: 0; padding-top: 10px; font: 13px/1.3 arial, sans-serif; color: #6E6E6E; text-align: left; padding-left: 2%;">
															Waarschijnlijk
														</td>
													</tr>
												</table>
											</div>
										</div>
										
										<p ng-show="user.rating_questions == '0'" ng-bind-html="find_tags((user.emails.text2 || 'Klik om tekst in te voegen...'), 'text2')" ng-click="emails_edit('text2', $event)" class="emails-edit" style="margin: 0; font: 14px/1.3 arial, sans-serif; color: #525354; padding-bottom: 15px;">
										</p>
										
										<p ng-show="user.rating_questions == '1'" ng-bind-html="find_tags((user.emails.text2_mq || 'Klik om tekst in te voegen...'), 'text2_mq')" ng-click="emails_edit('text2_mq', $event)" class="emails-edit" style="margin: 0; font: 14px/1.3 arial, sans-serif; color: #525354; padding-bottom: 15px;">
										</p>
									</div>
								</div>
								
								<p ng-bind-html="find_tags((user.emails.footer || 'Klik om tekst in te voegen...'), 'footer')" ng-click="emails_edit('footer', $event)" class="emails-edit" style="max-width: 700px; margin: 0 auto; padding: 15px 0 10px; font: 12px/1.3 arial, sans-serif; color: #999;">
								</p>
							</div>
						</div>
						
						<br />
						<a href="javascript:void(0);" class="btn btn-primary" ng-click="test_email_modal()">Stuur een voorbeeld...</a>
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Meervoudige vraagstelling<span class="label label-primary label-pro" ng-show="user.account_type == '0' && user.account != '2'" ng-click="upgrade_to_pro()">Pro</span></label>
                    <div class="col-md-8" ng-class="{'basis-box': user.account_type == '0' && user.account != '2'}" ng-click="upgrade_to_pro()">
                        <label class="ui-switch ui-switch-lg">
							<input type="checkbox" name="rating_questions" ng-model="user.rating_questions" ng-change="check_questions_for_user()" ng-checked="user.rating_questions == '1'" />
							<i></i>
						</label>
						<span class="help-block">
							U kunt bestaande of zelfgemaakte vraagstellingen gebruiken voor uw uitnodigingen.
						</span>
						
						<div class="table-responsive1" ng-show="user.rating_questions == '1'">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="question_first">Vraagstelling</th>
										<th class="question_second">Formulering in e-mail en op patiëntenpagina <a href="javascript:void(0);" class="question_icon" tooltip-placement="top" tooltip="Dit is de formulering van de vraagstelling zoals die in uw e-mailuitnodigingen en op de beoordelingspagina zal worden weergegeven."><i class="fa fa-question-circle"></i></a></th>
										<th class="question_third"></th>
									</tr>
								</thead>
								
								<tbody>
									<tr class="tr_questions" ng-class="{'edit_question': (edit_question[q.id] == 1)}" ng-repeat="q in user.questions">
										<td class="question_first">
											<span ng-show="edit_question[q.id] == 0">{{q.question_name}}</span>
											<div class="questions-auto-box" ng-class="index[q.id]" ng-show="edit_question[q.id] == 1">
												<input type="text" class="form-control" ng-model="edit_questions[q.id].name" ng-keyup="auto_keyup($event, q.id)" ng-focus="auto_question(q.id)" ng-change="auto_question(q.id)" placeholder="Typ vraagstelling..." maxlength="30" />
												<div class="questions-auto-inner">
													<a href="javascript:void(0);" class="questions-auto-link" ng-click="auto_click(q.id, a.id)" ng-mouseover="auto_over(q.id, a.id)" ng-mouseout="auto_out(q.id)" ng-repeat="a in autos[q.id]">{{a.question_name}}</a>
												</div>
											</div>
										</td>
										<td class="question_second">
											<div>
												Zou u onze praktijk aanbevelen omwille van de manier waarop <span ng-show="edit_question[q.id] == 0">{{q.question_description}}</span>
											</div>
											<input type="text" ng-show="edit_question[q.id] == 1" class="form-control" id="desc_{{q.id}}" ng-model="edit_questions[q.id].desc" placeholder="Typ formulering..." maxlength="200" />
										</td>
										<td class="question_third">
											<a href="javascript:void(0);" ng-show="edit_question[q.id] == 0" class="question_icon" ng-click="edit_questions(q.id)"><i class="fa fa-pencil"></i></a>
											<a href="javascript:void(0);" ng-show="edit_question[q.id] == 1" class="question_icon" ng-click="save_questions(q.id)"><i class="fa fa-floppy-o"></i></a>
											<a href="javascript:void(0);" class="question_icon" ng-click="remove_questions(q.id)"><i class="fa fa-trash"></i></a>
										</td>
									</tr>
									
									<tr ng-show="add_new_question == '1'">
										<td class="question_first">
											<div class="questions-auto-box" ng-class="index[q.id]">
												<input type="text" class="form-control" ng-model="new_question.name" ng-keyup="auto_keyup($event)" ng-focus="auto_question()" ng-change="auto_question()" placeholder="Typ vraagstelling..." maxlength="30" />
												<div class="questions-auto-inner">
													<a href="javascript:void(0);" class="questions-auto-link" ng-click="auto_click(false, a.id)" ng-mouseover="auto_over(false, a.id)" ng-mouseout="auto_out()" ng-repeat="a in autos[0]">{{a.question_name}}</a>
												</div>
											</div>
										</td>
										<td class="question_second">
											<div>
												Zou u onze praktijk aanbevelen omwille van de manier waarop
											</div>
											<input type="text" class="form-control" ng-model="new_question.desc" id="desc_0" placeholder="Typ formulering..." maxlength="200" />
										</td>
										<td class="question_third">
											<a href="javascript:void(0);" class="question_icon" ng-click="add_new_question_save()"><i class="fa fa-floppy-o"></i></a>
											<a href="javascript:void(0);" class="question_icon" ng-click="add_new_question_hide()"><i class="fa fa-trash"></i></a>
										</td>
									</tr>
									
									<tr class="last_question_tr">
										<td></td>
										<td class="text-right"><a href="javascript:void(0);" class="add_question_link" ng-click="add_new_question_show()">Voeg vraagstelling toe</a></td>
										<td class="question_third"></td>
									</tr>
								</tbody>
							</table>
						</div>
                    </div>
                </div>
			</form>
		</div>
	</section>
	
	<section class="panel panel-default">
        <div class="panel-heading"><strong>Gegevens van uw praktijk</strong></div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" name="form">
                <div class="form-group">
                    <label class="col-md-4">Naam praktijk</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="name" ng-model="user.username" value="" required="required" />
                    </div>
                </div>
				
                <div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">E-mailadres praktijk</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" name="email" ng-model="user.email" value="" required="required" />
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Accountwachtwoord</label>
                    <div class="col-md-8">
						<div class="password-form" ng-class="{'open': password_form == '1'}">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<input type="password" class="form-control" name="old_password" placeholder="Uw huidige wachtwoord" ng-model="passwords.old" />
									</div>
								</div>
								
								<div class="col-sm-6 col-xs-12">
									<div class="form-group">
										<input type="password" class="form-control" name="new_password" placeholder="Kies een nieuw wachtwoord" ng-model="passwords.new" />
									</div>
								</div>
								
								<div class="col-sm-6 col-xs-12">
									<div class="form-group">
										<input type="password" class="form-control" name="confirm_password" placeholder="Bevestig uw nieuwe wachtwoord" ng-model="passwords.confirm" />
									</div>
								</div>
								
								<div class="col-xs-12">
									<div class="form-group">
										<button type="button" class="btn btn-primary" ng-click="save_password()">Wijzig wachtwoord</button>
									</div>
								</div>
							</div>
						</div>
                        <button type="button" class="btn btn-primary" ng-show="password_form == '0'" ng-click="show_password_form()">Wijzig wachtwoord...</button>
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">E-mailnotificatie feedback</label>
                    <div class="col-md-8">
						<label class="ui-switch ui-switch-lg">
							<input type="checkbox" name="email_reply_check" ng-model="user.email_reply_check" ng-change="check_reply_check()" ng-checked="user.email_reply_check == '1'" />
							<i></i>
						</label>
						
						<span class="help-block">
						</span>
						
						<div ng-show="user.email_reply_check == '1'">
							<input type="email" class="form-control" name="email_reply" ng-model="user.email_reply" value="" />
							<span class="help-block">
								Met dit onderdeel kiest u het e-mailadres waarop u een e-mailnotificatie van binnengekomen feedback van patiënten zult ontvangen.
							</span>
							
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="user.email_negative_check" ng-change="check_reply()" ng-checked="user.email_negative_check == '1'"/>
									Bij negatieve beoordeling
								</label>
							</div>
							
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="user.email_feedback_check" ng-change="check_reply()" ng-checked="user.email_feedback_check == '1'" />
									Bij beoordeling met feedback
								</label>
							</div>
						</div>
                    </div>
                </div>
				
                <div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Telefoonnummer praktijk</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="phone" ng-model="user.phone" ng-change="phone_check(user.phone)" ng-class="check_phone" value="" />
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Mobiele telefoonnummer</label>
                    <div class="col-md-8">
						<div class="input-group">
							<span class="input-group-addon">+31</span>
							<input type="text" class="form-control" name="mobile" ng-change="check_mobile(user.mobile)" ng-model="user.mobile" value="" />
						</div>
						<span class="help-block">
							Op dit mobiele telefoonnummer ontvangt u uw authenticatiecodes voor het veilig inloggen op uw account. Uw mobiele telefoonnummer dient met 06 te beginnen. Bijvoorbeeld: 06 1234 5678
						</span>
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Adresgegevens</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="address" ng-model="user.address" placeholder="Adres" value="" />
                    </div>
					<div class="col-md-2">
                        <input type="text" class="form-control" name="postcode" ng-model="user.postcode" placeholder="Postcode" value="" />
                    </div>
					<div class="col-md-3">
                        <input type="text" class="form-control" name="city" ng-model="user.city" placeholder="Plaats" value="" />
                    </div>
                </div>			
				
				<div class="divider divider-dashed divider-lg pull-in"></div>
				
				<div class="form-group">
                    <label class="col-md-4">Beoordelingspagina en Widgets<span class="label label-primary label-pro" ng-show="user.account_type == '0' && user.account != '2'" ng-click="upgrade_to_pro()">Pro</span></label>
					<div class="col-md-1 col-xs-3 margin-bottom" ng-class="{'basis-box': user.account_type == '0' && user.account != '2'}" ng-click="upgrade_to_pro()">
						<label class="ui-switch ui-switch-lg"><input type="checkbox" name="short_checked" ng-model="user.short_checked" ng-checked="user.short_checked == '1'" /><i></i></label>
                    </div>
                    <div class="col-md-offset-4 col-md-8 col-xs-12" ng-show="user.short_checked == '1'" ng-class="{'basis-box': user.account_type == '0' && user.account != '2'}" ng-click="upgrade_to_pro()">
						<div class="input-group">
							<span class="input-group-addon">app.patientenreview.nl/</span>
							<input type="text" class="form-control" name="name" ng-model="user.short" value="" ng-change="validate_url()" ng-class="short_class" />
						</div>
						
						<div class="help-block">
							U kunt een aangepaste link naar de beoordelingspagina van uw praktijk 
							maken zodat u anonieme beoordelingen kunt ontvangen. Ook kunt u een widget instellen om bezoekers van uw website naar de beoordelingspagina te verwijzen.<br><br>
						</div>
						
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
								<p class="help-block">
									Oriëntatie
								</p>
							</div>
							
							<div class="col-lg-4 col-md-6 col-sm-5 col-xs-12">
								<select class="form-control" ng-model="user.widget.widgets_type">
									<option value="0">Liggend</option>
									<option value="1">Staand</option>
								</select>
							</div>
						</div>
						
						<br />
						
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
								<p class="help-block">
									Achtergrondafbeelding
								</p>
							</div>
							
							<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 switcher">
								<label class="ui-switch"><input type="checkbox" name="widgets_bg" ng-model="user.widget.widgets_bg" ng-checked="user.widget.widgets_bg == '1'" /><i></i></label>
								<button class="btn btn-primary" colorpicker ng-model="user.widget.widgets_color">Wijzig kleur</button>
								<input type="text" class="form-control color-hex" ng-model="user.widget.widgets_color" />
							</div>
						</div>
						
						<br />
						
						<p class="help-block">
							Zo komt de widget eruit te zien:
						</p>
						
						<div class="widget-frame" ng-class="{'ver': user.widget.widgets_type == 1}">
							<div class="widget" ng-class="{'hor': user.widget.widgets_type == 0, 'ver': user.widget.widgets_type == 1, 'pro': user.account == 2 || user.account_type == 1}">
								<div class="widget-left">
									<p class="widget-text1 widget-edit" ng-bind-html="user.widget.widgets_text1" ng-click="widget_edit('widgets_text1', $event)">
										{{user.widget.widgets_text1}}
									</p>
									
									<div class="widget-rating">
										<div class="widget-star" ng-class="{'empty': rating < 0.5, 'full': rating > 0.5, 'half': rating == 0.5}">
											<i class="glyphicon glyphicon-star-empty"></i>
											<i class="glyphicon glyphicon-star"></i>
										</div>
										
										<div class="widget-star" ng-class="{'empty': rating < 1.5, 'full': rating > 1.5, 'half': rating == 1.5}">
											<i class="glyphicon glyphicon-star-empty"></i>
											<i class="glyphicon glyphicon-star"></i>
										</div>
										
										<div class="widget-star" ng-class="{'empty': rating < 2.5, 'full': rating > 2.5, 'half': rating == 2.5}">
											<i class="glyphicon glyphicon-star-empty"></i>
											<i class="glyphicon glyphicon-star"></i>
										</div>
										
										<div class="widget-star" ng-class="{'empty': rating < 3.5, 'full': rating > 3.5, 'half': rating == 3.5}">
											<i class="glyphicon glyphicon-star-empty"></i>
											<i class="glyphicon glyphicon-star"></i>
										</div>
										
										<div class="widget-star" ng-class="{'empty': rating < 4.5, 'full': rating > 4.5, 'half': rating == 4.5}">
											<i class="glyphicon glyphicon-star-empty"></i>
											<i class="glyphicon glyphicon-star"></i>
										</div>
										
										<div class="widget-score">
											{{rating.toFixed(1)}}
										</div>
									</div>
								</div>
								
								<div class="widget-center" style=" {{user.widget.widgets_bg == '1' ? 'background: url(/application/views/images/email-back.png) 30% center no-repeat; background-size: cover;' : ''}}background-color: {{user.widget.widgets_color}};">
									<p class="widget-text2 widget-edit" ng-bind-html="user.widget.widgets_text2" ng-click="widget_edit('widgets_text2', $event)">
										{{user.widget.widgets_text2}}
									</p>
									
									<div class="btn btn-widget widget-edit" style="background-color: {{user.widget.widgets_button}};" ng-bind-html="user.widget.widgets_textb" ng-click="widget_edit('widgets_textb', $event)">{{user.widget.widgets_textb}}</div>
								</div>
								
								<div class="widget-right">
									<img src="/application/views/images/{{user.widget.widgets_type == 0 ? 'widget-logo.png' : 'logo_full.png'}}" alt="" class="widget-logo"/>
								</div>
							</div>
						</div>
						
						<br />
						
						<button type="button" class="btn btn-primary" ng-click="widget_save()">Genereer HTML...</button>
                    </div>
                </div>
				
				<div class="divider divider-dashed divider-lg pull-in" id="intro4"></div>

				<div class="form-group">
                    <label class="col-md-4">Logo en huisstijl<span class="label label-primary label-pro" ng-show="user.account_type == '0' && user.account != '2'" ng-click="upgrade_to_pro()">Pro</span></label>
                    <div class="col-md-8" ng-class="{'basis-box': user.account_type == '0' && user.account != '2'}" ng-click="upgrade_to_pro()">
						<span class="logo_here"><img src="{{user.logo}}" alt="" ng-if="user.logo != ''" /><a href="javascript:void(0);" class="remove_logo" ng-if="user.logo != ''" ng-click="remove_logo()" ng-class="{show: user.logo != ''}"><i class="glyphicon glyphicon-remove"></i></a></span>
                        <upload-button class="btn btn-primary btn-upload" url="/pub/upload_logo/" on-success="onLogo(response)">Upload logo</upload-button>
						<button class="btn btn-primary" colorpicker ng-model="user.color">Wijzig kleur</button>
						<input type="text" class="form-control color-hex" ng-model="user.color" />
						<span class="help-block">
							Dit logo zal worden weergegeven in de emails en beoordelingspagina die klanten te zien krijgen. U kunt een bestand in .jpg of .png formaat uploaden. Aanbevolen resolutie: 300x80. Bovendien kunt u een kleur kiezen die past bij uw logo.
						</span>
                    </div>
                </div>
				
                <div class="divider divider-dashed divider-lg pull-in"></div>
				
				<button class="btn btn-primary" ng-click="save()">Bewaar instellingen</button>
            </form>
        </div>
    </section>
</div>

<script type="text/ng-template" id="emails_edit.html">
	<div class="modal-header">
		<h3>
			Wijzig tekst
		</h3>
	</div>
	<div class="modal-body">
		<textarea ng-model="value" class="form-control edit-emails-area" froala="froalaOptions"></textarea>
		<span class="help-block with-margin" ng-show="user.account_type > 0 || user.account == '2'">
			Klik om een variabele in te voegen:
			<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Aanhef Patiënt')">Aanhef Patiënt</a>
			<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Voornaam Patiënt')">Voornaam Patiënt</a>
			<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Achternaam Patiënt')">Achternaam Patiënt</a>
			<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Aanhef Zorgverlener')">Aanhef Zorgverlener</a>
			<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Voornaam Zorgverlener')">Voornaam Zorgverlener</a>
			<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Achternaam Zorgverlener')">Achternaam Zorgverlener</a>
			<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Profielfoto Zorgverlener')">Profielfoto Zorgverlener</a>
			<a href="javascript:void(0);" class="btn btn-default btn-sm" ng-click="set_var('Naam Praktijk')">Naam Praktijk</a>
		</span>
		
		<span class="help-block" ng-show="user.account_type == '0' && user.account != '2'" ng-click="cancel()">
			Upgrade naar Pro om variabelen in uw e-mailuitnodigingen te gebruiken.
			<a href="#pages/activate/{{user.id}}" class="btn btn-primary">Upgrade...</a>
		</span>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Bewaar</button>
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
	</div>
</script>

<script type="text/ng-template" id="widget_edit.html">
	<div class="modal-header">
		<h3>
			Wijzig tekst
		</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<input type="text" ng-model="value" class="form-control" />
		</div>
		
		<div class="form-group" ng-if="type == 'widgets_textb'">
			<button class="btn btn-primary" colorpicker colorpicker-fixed-position="true" ng-model="color[0]">Wijzig kleur</button>
			<input type="text" class="form-control color-hex" ng-model="color[0]" />
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Bewaar</button>
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
	</div>
</script>

<script type="text/ng-template" id="widget_save.html">
	<div class="modal-header">
		<h3>
			HTML
		</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<textarea type="text" ng-model="iframe" class="form-control"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Bewaar</button>
	</div>
</script>

<script type="text/ng-template" id="profile_save.html">
	<div class="modal-header">
		<h3>
			Bewaar uw wijzigingen
		</h3>
	</div>
	<div class="modal-body">
		U heeft wijzigingen gemaakt die nog niet zijn bewaard. Wilt u de gewijzigde 
		instellingen bewaren?
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save_profile()">Bewaar</button>
		<button class="btn btn-warning" ng-click="discard_profile()">Bewaar niet</button>
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
	</div>
</script>

<script type="text/ng-template" id="test_emails.html">
	<div class="modal-header">
		<h3>
			Stuur voorbeeld e-mail
		</h3>
	</div>
	<div class="modal-body">
		<p>
			U kunt een voorbeeld van de e-mail versturen die uw patiënten te zien zullen krijgen.
		</p>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<input type="email" class="form-control" ng-model="test.email" placeholder="E-mailadres" />
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12" ng-show="items.title">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="test.title" placeholder="Aanhef patiënt" />
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12" ng-show="items.name">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="test.name" placeholder="Voornaam patiënt" />
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12" ng-show="items.sname">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="test.sname" placeholder="Achternaam patiënt" />
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12" ng-show="items.doctors_title">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="test.doctors_title" placeholder="Aanhef zorgverlener" />
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12" ng-show="items.doctors_name">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="test.doctors_name" placeholder="Voornaam zorgverlener" />
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12" ng-show="items.doctors_sname">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="test.doctors_sname" placeholder="Achternaam zorgverlener" />
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12" ng-show="items.username">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="test.username" placeholder="Naam praktijk" />
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12" ng-show="items.subject">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="test.subject" placeholder="Onderwerp van e-mail" />
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12" ng-show="items.doctors_avatar">
				<div class="form-group">
					<span class="avatar_here"><img src="{{test.doctors_avatar}}" alt="" ng-if="test.doctors_avatar != ''" /><a href="javascript:void(0);" class="remove_logo" ng-if="test.doctors_avatar != ''" ng-click="remove_avatar()" ng-class="{show: test.doctors_avatar != ''}"><i class="glyphicon glyphicon-remove"></i></a></span>
					<upload-button class="btn btn-primary btn-upload" url="/pub/upload_avatar/" on-success="onAvatar(response)">Upload avatar</upload-button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
		<button class="btn btn-primary" ng-click="submit()">Stuur</button>
	</div>
</script>

<script type="text/ng-template" id="stars_edit.html">
	<div class="modal-header">
		<h3>
			Wijzig beoordelingselement
		</h3>
	</div>
	<div class="modal-body">
		<div class="checkbox">
			<label>
				<input type="radio" name="stars_type" value="1" ng-model="type" />
				Eenvoudig
			</label>
		</div>
		
		<div class="form-group" ng-if="type == 1">
			<div class="checkbox">
				<label>
					<input type="text" class="form-control" ng-model="text[0]" />
				</label>
			</div>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="radio" name="stars_type" value="0" ng-model="type" />
				Sterren
			</label>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="radio" name="stars_type" value="2" ng-model="type" />
				Dynamische sterren (Experimenteel)
			</label>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Bewaar</button>
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
	</div>
</script>

<script type="text/ng-template" id="questions_basic.html">
	<div class="modal-header">
		<h3>
			Upgrade om deze Pro functie te gebruiken
		</h3>
	</div>
	<div class="modal-body">
		<p>
			Deze functie is beschikbaar voor Patiëntenreview Pro. Door te upgraden ontvangt u toegang tot 
			deze en een scala aan andere uitgebreide mogelijkheden.
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Bekijk voordelen</button>
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
	</div>
</script>

<script type="text/ng-template" id="questions_ultimate.html">
	<div class="modal-header">
		<h3>
			Upgrade om deze Ultimate functie te gebruiken
		</h3>
	</div>
	<div class="modal-body">
		<p>
			Deze functie is beschikbaar voor Patiëntenreview Ultimate. Door te upgraden ontvangt u toegang tot 
			deze en een scala aan andere uitgebreide mogelijkheden.
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Bekijk voordelen</button>
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
	</div>
</script>

<script type="text/ng-template" id="questions_confirm.html">
	<div class="modal-header">
		<h3>
			Uw e-mailtekst en onderwerp zal worden aangepast
		</h3>
	</div>
	<div class="modal-body">
		<p>
			Om de meervoudige vraagstelling te kunnen gebruiken dient de e-mail naar uw 
			patiënten de juiste tekst te bevatten. De tekst zal automatisch worden aangepast. Wilt u 
			doorgaan?
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Ga door</button>
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
	</div>
</script>

<script type="text/ng-template" id="emails_remove_questions.html">
	<div class="modal-header">
		<h3>
			Meervoudige vraagstelling vereist specifieke variabelen
		</h3>
	</div>
	<div class="modal-body">
		<p>
			Het versturen van uw e-mails met meervoudige vraagstellingen wordt uitgeschakeld als u uw e-mailtekst bewaart zonder de vereiste variabelen:
		</p>
		
		<ul>
			<li>&#123;<i></i>&#123;Formulering van de vraagstelling&#125;<i></i>&#125;</li>
		</ul>
		
		<p>
			Als u uw e-mails met meervoudige vraagstellingen wilt blijven versturen en de e-mailtekst wilt bewaren, kunt u de vereiste variabelen toevoegen aan uw e-mailtekst en de meervoudige vraagstelling daarna weer inschakelen.
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="proceed()">Ga door</button>
		<button class="btn btn-default" ng-click="undo()">Annuleer</button>
	</div>
</script>