<div class="page-signin" ng-class="{logged_in: logged_in}" ng-controller="authCtrl">
    <div class="signin-header">
        <section class="logo">
			<div class="signin_logo">
				<h1><a href="#/"><img src="application/views/images/logo_full.png" alt="{{main.brand}}" /></a></h1>
				
				<div class="after_login" ng-class="{last_slide: last_slide}">
					<h1><a href="#/"><img src="application/views/images/logo_full.png" alt="{{main.brand}}" /></a></h1>
					
					<div class="login_line_gray">
					</div>
					
					<div class="login_slide_outer">
						<div class="login_slide_box">
							<div class="login_slide" ng-class="{prev: slide_step > 1, current: slide_step == 1, next: slide_step < 1}">
								<p class="login_blue_title">
									Vanaf vandaag staat uw praktijk bovenaan
								</p>
								
								<p class="login_blue_text text-center">
									Met Patiëntenreview zorgt u ervoor dat uw praktijk beter beoordeeld én
									beter gevonden wordt door het sturen van beoordelingsverzoeken aan uw
									patiënten.
								</p>
								
								<div class="login_sep_20">
								</div>

								<p class="login_list_text">
									<span>1</span>
									U stuurt snel en eenvoudig uitnodigingen naar uw
									behandelde patiënten.
								</p>
								
								<div class="login_sep_20">
								</div>

								<p class="login_list_text">
									<span>2</span>
									Uw patiënt beoordeelt u met de ontvangen e-mail.
									Negatieve beoordelaars worden afgevangen en
									positieve beoordelaars worden doorgestuurd naar uw
									online kanalen.
								</p>
								
								<div class="login_sep_20">
								</div>

								<p class="login_list_text">
									<span>3</span>
									U heeft zicht op uw stijgende online reputatie en u
									ontvangt waardevolle feedback van uw patiënten.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
        </section>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container login-form-container">
                <form class="form-horizontal" name="form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input type="email" class="form-control input-lg" placeholder="E-mailadres" name="email" ng-model="email" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password" class="form-control input-lg" placeholder="Wachtwoord" ng-model="password" required="required" />
                            </div>
                        </div>

                        <div class="divider divider-xl"></div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block text-center" ng-click="login()">Log in</button>
                        </div>
                    </fieldset>
                </form>

                <div class="divider"></div>
                <section class="additional-info">
                    <p class="text-right">
                        <a href="#/pages/forgot-password">Hulp bij inloggen</a>
                    </p>
                </section>
            </div>
			
			<div class="after_login_button">
				<button class="btn btn-success btn-lg btn-block text-center" ng-click="go()">Start rondleiding</button>
			</div>
        </div>
    </div>
	
	<script>
		var for_remove = {'body-wide': true, 'body-err': true, 'body-lock': true, 'body-auth': true};
		var classes = document.getElementsByTagName("body")[0].className.split(" ");
		var new_classes = ['body-wide', 'body-auth'];
		for (var key in classes)
		{
			if ( ! for_remove[classes[key]])
			{
				new_classes.push(classes[key]);
			}
		}
		document.getElementsByTagName("body")[0].className = new_classes.join(" ");
	</script>
	
	<script type="text/ng-template" id="ended.html">
		<div class="modal-header">
			<p>
				U kunt niet inloggen omdat uw abonnement is verlopen. <a href="mailto:info@patientenreview.nl?subject=Verlenging%20abonnement%20Pati%C3%ABntenreview">Neem contact met ons op</a> om uw abonnement te verlengen.
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Sluit</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="notyet.html">
		<div class="modal-header">
			<p>
				U kunt niet inloggen omdat uw abonnement nog niet is geactiveerd.
				<br /><br/>
				Uw abonnement wordt geactiveerd op: {{items[0]}}.
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Sluit</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="suspend_popup.html">
		<div class="modal-header">
			<h3>
				Uw account is verwijderd
			</h3>
		</div>
		<div class="modal-body">
			<p>
				Vanaf nu heeft u geen toegang meer tot uw account en alle gegevens gerelateerd aan uw account zijn uit onze database verwijderd. Mocht u vragen of opmerkingen hebben, neemt u dan gerust contact met ons op: Tel: 0403 - 041 596
				<br /> E-mail: service@patientenreview.nl
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Sluit</button>
		</div>
	</script>
</div>