<div class="page-signin" ng-class="{logged_in: logged_in}" ng-controller="authCtrl">
    <div class="signin-header">
        <section class="logo">
			<div class="signin_logo">
				<h1><a href="#/"><img src="application/views/images/logo_full.png" alt="{{main.brand}}" /></a></h1>
				
				<div class="after_login" ng-class="{last_slide: last_slide}">
					<h1><a href="#/"><img src="application/views/images/logo_full.png" alt="{{main.brand}}" /></a></h1>
					
					<div class="login_line_gray">
					</div>
					
					<div class="login_slide_outer">
						<div class="login_slide_box">
							<div class="login_slide" ng-class="{prev: slide_step > 1, current: slide_step == 1, next: slide_step < 1}">
								<p class="login_blue_title">
									Vanaf vandaag staat uw praktijk bovenaan
								</p>
								
								<p class="login_blue_text text-center">
									Met Patiëntenreview zorgt u ervoor dat uw praktijk beter beoordeeld én
									beter gevonden wordt door het sturen van beoordelingsverzoeken aan uw
									patiënten.
								</p>
								
								<div class="login_sep_20">
								</div>

								<p class="login_list_text">
									<span>1</span>
									U stuurt snel en eenvoudig uitnodigingen naar uw
									behandelde patiënten.
								</p>
								
								<div class="login_sep_20">
								</div>

								<p class="login_list_text">
									<span>2</span>
									Uw patiënt beoordeelt u met de ontvangen e-mail.
									Negatieve beoordelaars worden afgevangen en
									positieve beoordelaars worden doorgestuurd naar uw
									online kanalen.
								</p>
								
								<div class="login_sep_20">
								</div>

								<p class="login_list_text">
									<span>3</span>
									U heeft zicht op uw stijgende online reputatie en u
									ontvangt waardevolle feedback van uw patiënten.
								</p>
							</div>
							
							<!--div class="login_slide" ng-class="{prev: slide_step > 2, current: slide_step == 2, next: slide_step < 2}">
								<p class="login_blue_title">
									Waar bent u online te vinden?
								</p>
								
								<p class="login_blue_text text-center">
									Voordat u aan de slag gaat moeten we ervoor zorgen dat uw patiënten u
									online kunnen vinden. Controleer of alles klopt en vul aan wat er mist.
								</p>
								
								<div class="login_sep_10">
								</div>

								<div class="login_facebook_logo">
									<img src="/application/views/images/login-facebook-logo.jpg" alt="Facebook" />
								</div>
								
								<div class="login_sep_10">
								</div>
								
								<p class="login_blue_text text-social">
									Met 9 miljoen dagelijkse gebruikers in Nederland is Facebook de
									plek waar Nederland online samenkomt. De ideale plek om uw
									praktijk op de kaart te zetten.
								</p>
								
								<div class="text-social">
									<div class="row" ng-show=" ! facebook_login">
										<div class="col-sm-5">
											<a href="javascript:void(0);" class="btn btn-primary" ng-click="fb_login()">Log in met Facebook</a>
										</div>
										
										<div class="col-sm-7">
											<p class="facebook-login-text">
												Log in met het persoonlijke Facebook account
												waarmee u uw bedrijfspagina beheert.
											</p>
										</div>
									</div>
									
									<div ng-show="facebook_login">
										<input type="text" class="form-control simple-input" ng-model="user.facebook" placeholder="Plak hier de link naar uw bedrijfspagina." />
									</div>
								</div>
								
								<div class="login_sep_15">
								</div>
								
								<p class="login-small-text text-center">
									Nog geen Facebook bedrijfspagina?<br />
									<a href="https://www.facebook.com/" target="_blank">Klik hier om er een te maken</a>
								</p>
							</div>
							
							<div class="login_slide" ng-class="{prev: slide_step > 3, current: slide_step == 3, next: slide_step < 3}">
								<p class="login_blue_title">
									Waar bent u online te vinden?
								</p>

								<div class="login_zorgkaart_logo">
									<img src="/application/views/images/login-zorgkaart-logo.jpg" alt="Zorgkaart" />
								</div>
								
								<div class="login_sep_10">
								</div>
								
								<p class="login_blue_text text-social">
									Zorgkaart is het grootste online platform voor het waarderen en
									vergelijken van zorgverleners. De plek bij uitstek voor patiënten
									die zoeken naar kwaliteitszorg.
								</p>
								
								<div class="text-social">
									<div>
										<input type="text" class="form-control simple-input" ng-model="user.zorgkaart" placeholder="Plak hier de link naar uw bedrijfspagina." />
									</div>
								</div>
								
								<div class="login_sep_10">
								</div>
								
								<p class="login-small-text">
									U kunt de juiste URL voor uw Zorgkaart profiel vinden door op
									www.zorgkaartnederland.nl naar uw praktijk te zoeken, op uw praktijk te klikken en
									de URL te kopiëren van de pagina waarop u terechtkomt.
								</p>
								
								<div class="login_sep_15">
								</div>
								
								<p class="login-small-text text-center">
									Nog geen Zorgkaart profiel?<br />
									<a href="https://www.zorgkaartnederland.nl/" target="_blank">Klik hier om er een te maken</a>
								</p>
							</div>
							
							<div class="login_slide" ng-class="{prev: slide_step > 4, current: slide_step == 4, next: slide_step < 4}">
								<p class="login_blue_title">
									Waar bent u online te vinden?
								</p>

								<div class="login_google_logo">
									<img src="/application/views/images/login-google-logo.png" alt="Google+" />
								</div>
								
								<div class="login_sep_10">
								</div>
								
								<p class="login_blue_text text-social">
									Gewaardeerd worden op Google betekent sneller gevonden
									worden. Ideaal, want de meeste patiënten gebruiken Google om
									te zoeken naar zorgverleners bij hen in de buurt.
								</p>
								
								<div class="text-social">
									<div>
										<input type="text" class="form-control simple-input" ng-model="user.google" placeholder="Plak hier de link naar uw bedrijfspagina." />
									</div>
								</div>
								
								<div class="login_sep_10">
								</div>
								
								<p class="login-small-text">
									U kunt de juiste URL voor uw bedrijfspagina vinden door op www.googleplus.com
									naar uw praktijk te zoeken, op uw praktijk te klikken en de URL te kopiëren van de
									pagina waarop u terechtkomt.
								</p>
								
								<div class="login_sep_15">
								</div>
								
								<p class="login-small-text text-center">
									Nog geen Google bedrijfspagina?<br />
									<a href="http://plus.google.com" target="_blank">Klik hier om er een te maken</a>
								</p>
							</div>
							
							<div class="login_slide" ng-class="{prev: slide_step > 5, current: slide_step == 5, next: slide_step < 5}">
								<p class="login_blue_title">
									Vul uw gegevens aan
								</p>

								<div class="login_sep_10">
								</div>
								
								<p class="login_blue_text text-social text-center">
									Om er zeker van te zijn dat alles klopt, willen we u vragen om deze
									gegevens te controleren.
								</p>
								
								<div class="text-social">
									<div>
										<label>Praktijknaam</label>
										<input type="text" class="form-control simple-input" ng-model="user.username" value="" placeholder="Praktijknaam" />
									</div>
								</div>
								
								<div class="login_sep_10">
								</div>
								
								<div class="text-social">
									<div>
										<label>Telefoonnummer</label>
										<input type="text" class="form-control simple-input" ng-model="user.phone" value="" placeholder="Telefoonnummer" />
									</div>
								</div>
							</div-->
						</div>
						
						<!--div class="login_slide_controls">
							<a href="javascript:void(0);" ng-class="{active: slide_step == 1}" ng-click="slide_step = 1"></a>
							<a href="javascript:void(0);" ng-class="{active: slide_step == 2}" ng-click="slide_step = 2"></a>
							<a href="javascript:void(0);" ng-class="{active: slide_step == 3}" ng-click="slide_step = 3"></a>
							<a href="javascript:void(0);" ng-class="{active: slide_step == 4}" ng-click="slide_step = 4"></a>
							<a href="javascript:void(0);" ng-class="{active: slide_step == 5}" ng-click="slide_step = 5"></a>
						</div-->
					</div>
					
					<!--div class="final_screen">
						<p class="login_blue_title">
							Gefeliciteerd!
						</p>

						<div class="login_sep_10">
						</div>
						
						<p class="login_blue_text text-social text-center">
							U bent nu klaar voor het sturen van de eerste beoordelingsverzoeken naar
							uw patiënten. Dat kunt u doen door in het volgende scherm een Excel
							bestand met e-mailadressen van patiënten te uploaden!
						</p>
					</div-->
				</div>
			</div>
        </section>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container login-form-container">
                <form class="form-horizontal" name="form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input type="email" class="form-control input-lg" placeholder="E-mailadres" name="email" ng-model="email" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password" class="form-control input-lg" placeholder="Wachtwoord" ng-model="password" required="required" />
                            </div>
                        </div>

                        <div class="divider divider-xl"></div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block text-center" ng-click="login()">Log in</button>
                        </div>
                    </fieldset>
                </form>

                <div class="divider"></div>
                <section class="additional-info">
                    <p class="text-right">
                        <a href="#/pages/forgot-password">Hulp bij inloggen</a>
                    </p>
                </section>
            </div>
			
			<div class="after_login_button">
				<button class="btn btn-success btn-lg btn-block text-center" ng-click="go()">Start rondleiding</button>
				<!--button ng-show=" ! last_slide" class="btn btn-success btn-lg btn-block text-center" ng-click="inc_slide()">Ga verder</button>
				<span></span>
				<button ng-show="last_slide" class="btn btn-success btn-lg btn-block text-center" ng-click="go()">Stuur de eerste uitnodigingen</button-->
			</div>
        </div>
    </div>
	
	<script>
		var for_remove = {'body-wide': true, 'body-err': true, 'body-lock': true, 'body-auth': true};
		var classes = document.getElementsByTagName("body")[0].className.split(" ");
		var new_classes = ['body-wide', 'body-auth'];
		for (var key in classes)
		{
			if ( ! for_remove[classes[key]])
			{
				new_classes.push(classes[key]);
			}
		}
		document.getElementsByTagName("body")[0].className = new_classes.join(" ");
	</script>
	
	<script type="text/ng-template" id="ended.html">
		<div class="modal-header">
			<p>
				U kunt niet inloggen omdat uw abonnement is verlopen. <a href="mailto:info@patientenreview.nl?subject=Verlenging%20abonnement%20Pati%C3%ABntenreview">Neem contact met ons op</a> om uw abonnement te verlengen.
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Sluit</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="notyet.html">
		<div class="modal-header">
			<p>
				U kunt niet inloggen omdat uw abonnement nog niet is geactiveerd.
				<br /><br/>
				Uw abonnement wordt geactiveerd op: {{items[0]}}.
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Sluit</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="suspend_popup.html">
		<div class="modal-header">
			<h3>
				Uw account is verwijderd
			</h3>
		</div>
		<div class="modal-body">
			<p>
				Vanaf nu heeft u geen toegang meer tot uw account en alle gegevens gerelateerd aan uw account zijn uit onze database verwijderd. Mocht u vragen of opmerkingen hebben, neemt u dan gerust contact met ons op: Tel: 0403 - 041 596
				<br /> E-mail: service@patientenreview.nl
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok()">Sluit</button>
		</div>
	</script>
</div>