<div class="page page-profile" ng-controller="UsersCtrl">
	<section class="panel panel-default table-dynamic">
		<div class="table-filters">
			<div class="row">
				<div class="col-sm-4 col-xs-6">
					<form>
						<input type="text"
							   placeholder="Zoek..."
							   class="form-control"
							   data-ng-model="searchKeywords"
							   data-ng-keyup="search()">
					</form>
				</div>
				<div class="col-sm-3 col-xs-6 filter-result-info">
					<span>
					{{filteredStores.length}} van {{users.length}} onderdelen getoond
					</span>              
				</div>
				
				<div class="col-sm-3 col-xs-6">
					<button type="button" class="btn btn-primary" ng-show="checks.length > 0" ng-click="print_invoices()">Print factuur...</button>           
				</div>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th><div class="th"></div></th>
						<th><div class="th">
							ID
							<span class="fa fa-angle-up"
								  data-ng-click=" order('id') "
								  data-ng-class="{active: row == 'id'}"></span>
							<span class="fa fa-angle-down"
								  data-ng-click=" order('-id') "
								  data-ng-class="{active: row == '-id'}"></span>
						</div></th>
						<th><div class="th">
							Praktijk
							<span class="fa fa-angle-up"
								  data-ng-click=" order('username') "
								  data-ng-class="{active: row == 'username'}"></span>
							<span class="fa fa-angle-down"
								  data-ng-click=" order('-username') "
								  data-ng-class="{active: row == '-username'}"></span>
						</div></th>
						<th><div class="th">
							Status
							<span class="fa fa-angle-up"
								  data-ng-click=" order('type') "
								  data-ng-class="{active: row == 'type'}"></span>
							<span class="fa fa-angle-down"
								  data-ng-click=" order('-type') "
								  data-ng-class="{active: row == '-type'}"></span>
						</div></th>
						<th><div class="th">
							Emailadres praktijk
							<span class="fa fa-angle-up"
								  data-ng-click=" order('email') "
								  data-ng-class="{active: row == 'email'}"></span>
							<span class="fa fa-angle-down"
								  data-ng-click=" order('-email') "
								  data-ng-class="{active: row == '-email'}"></span>
						</div></th>
						<th><div class="th">
							Geregistreerd op
							<span class="fa fa-angle-up"
								  data-ng-click=" order('signup') "
								  data-ng-class="{active: row == 'signup'}"></span>
							<span class="fa fa-angle-down"
								  data-ng-click=" order('-signup') "
								  data-ng-class="{active: row == '-signup'}"></span>
						</div></th>
						<th><div class="th">
							Begindatum
							<span class="fa fa-angle-up"
								  data-ng-click=" order('activation') "
								  data-ng-class="{active: row == 'activation'}"></span>
							<span class="fa fa-angle-down"
								  data-ng-click=" order('-activation') "
								  data-ng-class="{active: row == '-activation'}"></span>
						</div></th>
						<th><div class="th">
							Einddatum
							<span class="fa fa-angle-up"
								  data-ng-click=" order('suspension') "
								  data-ng-class="{active: row == 'suspension'}"></span>
							<span class="fa fa-angle-down"
								  data-ng-click=" order('-suspension') "
								  data-ng-class="{active: row == '-suspension'}"></span>
						</div></th>
						<th><div class="th">
							Versie
							<span class="fa fa-angle-up"
								  data-ng-click=" order('suspension') "
								  data-ng-class="{active: row == 'suspension'}"></span>
							<span class="fa fa-angle-down"
								  data-ng-click=" order('-suspension') "
								  data-ng-class="{active: row == '-suspension'}"></span>
						</div></th>
						<th><div class="th">&nbsp;</div></th>
						<th><div class="th">Account</div></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="user in currentPageStores">
						<td><label class="ui-checkbox"><input type="checkbox" ng-model="checks_model" ng-change="check_checks(user.id)" /><span></span></label></td>
						<td>{{user.id}}</td>
						<td>{{user.username}}</td>
						<td>
							<a ng-if="user.admin_stop == '1'" href="javascript:void(0);" class="label label-danger">Geblokkeerd</a>
							<a ng-if="user.admin_stop == '0' && (user.account == '1' || user.account == '2') && user.type != '2'" href="javascript:void(0);" class="label label-success">Actief</a>
							<a ng-if="user.admin_stop == '0' && user.type == '2'" href="javascript:void(0);" class="label label-danger">Gestopt</a>
						</td>
						<td>{{user.email}}</td>
						<td>{{user.signup_str}}</td>
						<td>{{user.activation_str}}</td>
						<td>{{user.suspension_str}}</td>
						<td>
							<span ng-if="user.account == '2'">Proefperiode</span>
							<span ng-if="user.account != '2' && user.account_type == '0' && user.organization != '1'">Basis</span>
							<span ng-if="user.account != '2' && user.account_type == '1' && user.organization != '1'">Pro</span>
							<span ng-if="user.account != '2' && user.account_type == '1' && user.organization == '1'">Organisaties</span>
						</td>
						<td class="text-center"><a href="javascript:void(0);" ng-click="open_modal(user)"><i class="glyphicon glyphicon-cog"></i></a></td>
						<td><a class="label label-primary" ng-click="login_as_user(user.id)">Log In</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<footer class="table-footer">
			<div class="row">
				<div class="col-md-6 page-num-info">
					<span>
						Toon 
						<select data-ng-model="numPerPage"
								data-ng-options="num for num in numPerPageOpt"
								data-ng-change="onNumPerPageChange()">
						</select> 
						onderdelen per pagina
					</span>
				</div>
				<div class="col-md-6 text-right pagination-container">
					<pagination class="pagination-sm"
								ng-model="currentPage"
								total-items="filteredStores.length"
								max-size="4"
								ng-change="select(currentPage)"
								items-per-page="numPerPage"
								rotate="false"
								previous-text="&lsaquo;" next-text="&rsaquo;"
								boundary-links="true"></pagination>
				</div>
			</div>
		</footer>
	</section>
</div>

<script type="text/ng-template" id="change_account.html">
	<div class="modal-header">
		<h3>Wijzig account</h3>
	</div>
	<div class="modal-body">
		<tabset justified="true" class="ui-tab">
			<tab heading="Abonnement">
				<form class="form-horizontal" role="form" name="form">
					<div class="form-group">
						<label class="col-md-4">Geforceerd omzetten</label>
						<div class="col-md-8">
							<select class="form-control" ng-model="user.fake_type" ng-change="fake_type_change()">
								<option value="0">Patiëntenreview Basis</option>
								<option value="1">Patiëntenreview Pro</option>
								<option value="2">Patiëntenreview voor Organisaties</option>
							</select>
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td>Registratiedatum</td>
								<td>{{user.signup_str}}</td>
							</tr>
							
							<tr>
								<td>Startdatum huidige betaaltermijn</td>
								<td>
									<div class="input-group ui-datepicker">
										<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.activation" is-open="$parent.opened_activation" min="minDate" max="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
										<a href="javascript:void(0);" class="input-group-addon" ng-click="open_date($event, 'activation')"><i class="ti-calendar"></i></a>
									</div>
								</td>
							</tr>
							
							<tr>
								<td>Einddatum huidige betaaltermijn</td>
								<td>
									<div class="input-group ui-datepicker">
										<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.suspension" is-open="$parent.opened_suspension" min="minDate" max="'2017-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
										<a href="javascript:void(0);" class="input-group-addon" ng-click="open_date($event, 'suspension')"><i class="ti-calendar"></i></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					
					<button class="btn btn-danger" ng-click="delete_modal(id)">Verwijder account</button>
					<button class="btn btn-danger" ng-click="remove()" ng-if="stop == 0">Beëindig direct</button>
				</form>
			</tab>
			<tab heading="Facturering">
				<form class="form-horizontal" role="form" name="form">
					<div class="form-group">
						<label class="col-md-4">Getoonde prijs voor abonnement</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">&euro;</span>
								<input type="text" class="form-control" name="amount" ng-model="user.account_amount" ng-disabled="user.organization == '1'" required="required" />
							</div>
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<div class="form-group">
						<label class="col-md-4">Getoonde prijs per zorgverlener</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">&euro;</span>
								<input type="text" class="form-control" name="amount" ng-model="user.doctors_amount" ng-disabled="user.organization == '1'" required="required" />
							</div>
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<div class="form-group">
						<label class="col-md-4">Getoonde aantal gratis zorgverleners</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="number" ng-model="user.doctors_number" ng-disabled="user.organization == '1'" required="required" />
						</div>
					</div>
				</form>
			</tab>
			<tab heading="Gebruiksgegevens">
				<table class="table">
					<thead>
						<tr>
							<th>Laatst ingelogd</th>
							<th>Aantal ingelogde sessies</th>
							<th>Aantal uitnodigingen verstuurd</th>
							<th>Aantal batches</th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td>{{user.last_login}}</td>
							<td>{{user.login_number}}</td>
							<td>{{user.sent_number}}</td>
							<td>{{user.batche_number}}</td>
						</tr>
					</tbody>
				</table>
			</tab>
		</tabset>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Bewaar</button>
		<button class="btn btn-success" ng-click="activate()" ng-if="stop == 1">Activeer</button>
		<button class="btn btn-default" ng-click="cancel()">Sluit</button>
	</div>
</script>

<script type="text/ng-template" id="delete.html">
	<!--div class="modal-header">
		<h3>Wijzig abonnement</h3>
	</div-->
	<div class="modal-body">
		<p>
			Het verwijderen van dit abonnement zorgt ervoor dat alle beoordelingen en andere gegevens gerelateerd aan dit gebruikersaccount
			definitief worden verwijderd. Deze actie kan niet ongedaan worden gemaakt. Wil u doorgaan?
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="del()">Ja</button>
		<button class="btn btn-default" ng-click="cancel()">Nee</button>
	</div>
</script>