<?php if ( ! empty($user)) { ?>
<a href="javascript:void(0);" class="pull-right" ng-click="send_feedback()">Feedback</a>
<a href="javascript:void(0);" class="pull-right start_intro" ng-if="user.login_count <= 10" ng-click="start_intro()">Herstart introductie</a>
&copy; <?php echo date("Y"); ?> Patiëntenreview • Alle rechten voorbehouden.

<script type="text/ng-template" id="feedback.html">
	<div class="modal-header">
		<h3>
			Geef feedback over Patiëntenreview
		</h3>
	</div>
	<div class="modal-body">
		<p>
			We werken hard om de Patiëntenreview app continu te verbeteren en bij te werken.
			Daarom is het voor ons belangrijk om te weten wat uw ervaringen zijn. Wat werkt er
			minder goed of wat had u graag anders gezien? Uw feedback is voor ons zeer waardevol.
		</p>
		
		<div class="form-group">
			<select class="form-control" ng-model="feedback_1">
				<option value="">Waarvoor wilt u een melding doen?</option>
				<option value="Ik heb een fout of probleem ontdekt">Ik heb een fout of probleem ontdekt</option>
				<option value="Ik heb een suggestie voor verbetering">Ik heb een suggestie voor verbetering</option>
			</select>
		</div>
		
		<div class="form-group" ng-show="feedback_1 == 'Ik heb een fout of probleem ontdekt'">
			<select class="form-control" ng-model="feedback_2">
				<option value="">In welke categorie zou u deze melding indelen?</option>
				<option value="Kleine (schoonheids)fout">Kleine (schoonheids)fout</option>
				<option value="Vervelende fout/probleem, maar niet onoverkomelijk">Vervelende fout/probleem, maar niet onoverkomelijk</option>
				<option value="Dit probleem beperkt mijn gebruik van Patiëntenreview">Dit probleem beperkt mijn gebruik van Patiëntenreview</option>
				<option value="Dit probleem blokkeert mijn gebruik van Patiëntenreview">Dit probleem blokkeert mijn gebruik van Patiëntenreview</option>
			</select>
		</div>
		
		<div class="form-group">
			<textarea class="form-control" rows="4" ng-model="feedback" placeholder="Beschrijf uw suggestie of probleem"></textarea>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="feedback_3" />
				Stuur mij een e-mail zodra dit probleem is opgelost.
			</label>
		</div>
	</div>
	<div class="modal-footer">
		<img src="application/views/images/loader.gif" alt="" ng-if="loader" />
		<button class="btn btn-primary" ng-click="send()">Stuur</button>
		<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
	</div>
</script>
<?php } ?>