<!doctype html>
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title data-ng-bind="title">Patiëntenreview</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />

        <!-- Needs images, font... therefore can not be part of main.css -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,400,600,300,700" type="text/css" />
        <link rel="stylesheet" href="/application/views/fonts/themify-icons/themify-icons.min.css" />
        <link rel="stylesheet" href="/application/views/bower_components/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/application/views/bower_components/weather-icons/css/weather-icons.min.css" />
        <!-- end Needs images -->

		<link rel="stylesheet" href="/application/views/styles/main.css">
    </head>
	
    <body id="app" class="app" style="background: transparent;">
        <!--[if lt IE 9]>
            <div class="lt-ie9-bg">
                <p class="browsehappy">Je gebruikt een <strong>verouderde</strong> internetbrowser.</p>
                <p><a href="http://browsehappy.com/">Download hier</a> een nieuwe browser voor een optimale gebruikerservaring.</p>
            </div>
        <![endif]-->

		<?php echo $content; ?>
    </body>
</html>