<div ng-controller="AOnlinesCtrl">
	<div>
		<div class="charts-filter-panel">
			<div class="row">
				<div class="col-md-8 col-xs-12">
					<label class="label-online">Filters zijn alleen beschikbaar in e-mailweergave.</label>
				</div>
			</div>
		</div>
		
		<div class="charts-result-panel" ng-class="{'hide': empty_filter}">
			<div class="page page-charts">
				<section>
					<div class="row charts2-row">
						<div class="col-md-3 col-xs-12" ng-repeat="o in onlines">
							<div class="panel panel-default">
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="online-side-logo" ng-class="o.toLowerCase()">
											<div class="rating-logo">
												<img src="/application/views/images/online-{{o.toLowerCase()}}.png" alt="{{o}}" />
											</div>
										</div>
									</div>
									
									<div class="col-sm-6 col-xs-12">
										<div class="charts2-side-value">
											<div class="charts2-side-amount">
												{{(onl.average[o.toLowerCase()] || 0).toFixed(1)}}
											</div>
											
											<div class="charts2-side-text">
												{{o}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row charts2-row">
						<div class="col-md-3 col-xs-12" ng-repeat="o in onlines">
							<div class="panel panel-default">
								<div class="row charts2-stars-count">
									<div class="col-xs-5">
										<div class="charts2-stars-count-icons">
											<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
										</div>
									</div>
									
									<div class="col-xs-7">
										<div class="charts2-stars-count-value">
											{{onl.stars[o.toLowerCase()][5] || 0}} beoordelingen
										</div>
									</div>
								</div>
								
								<div class="row charts2-stars-count">
									<div class="col-xs-5">
										<div class="charts2-stars-count-icons">
											<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
										</div>
									</div>
									
									<div class="col-xs-7">
										<div class="charts2-stars-count-value">
											{{onl.stars[o.toLowerCase()][4] || 0}} beoordelingen
										</div>
									</div>
								</div>
								
								<div class="row charts2-stars-count">
									<div class="col-xs-5">
										<div class="charts2-stars-count-icons">
											<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
										</div>
									</div>
									
									<div class="col-xs-7">
										<div class="charts2-stars-count-value">
											{{onl.stars[o.toLowerCase()][3] || 0}} beoordelingen
										</div>
									</div>
								</div>
								
								<div class="row charts2-stars-count">
									<div class="col-xs-5">
										<div class="charts2-stars-count-icons">
											<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
										</div>
									</div>
									
									<div class="col-xs-7">
										<div class="charts2-stars-count-value">
											{{onl.stars[o.toLowerCase()][2] || 0}} beoordelingen
										</div>
									</div>
								</div>
								
								<div class="row charts2-stars-count">
									<div class="col-xs-5">
										<div class="charts2-stars-count-icons">
											<i class="fa fa-star-o"></i>
										</div>
									</div>
									
									<div class="col-xs-7">
										<div class="charts2-stars-count-value">
											{{onl.stars[o.toLowerCase()][1] || 0}} beoordelingen
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row charts2-row">
						<div class="col-md-6 col-xs-12">
							<div class="panel panel-default">
								<div id="area_online" style="height: 300px;" ng-show=" ! area_online_empty"></div>
								<div class="empty_data" ng-show="area_online_empty">Er is onvoldoende data om weer te geven</div>
							</div>
						</div>
						
						<div class="col-md-6 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-body small-padding-x">
									<div id="pie_online" style="height: 270px;"></div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row charts2-row">
						<div class="col-md-3 col-xs-12" ng-repeat="o in onlines">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										Feedback op {{o}}
									</h3>
								</div>
								
								<div class="panel-body panel-same-scroll">
									<div class="reviews_container" ng-repeat="review in onl.reviews[o.toLowerCase()]">
										<div class="divider divider-dashed divider-lg pull-in"></div>
										<div class="row">
											<div class="col-xs-12">
												<span class="reviews-date">{{review.date}}</span>
												<span class="badge badge-primary pull-right" ng-show="review.marked_as_read == '0'">Nieuw</span>
												<i class="fa fa-star-o" ng-if="review.score >= 1">
												</i><i class="fa fa-star-o" ng-if="review.score >= 2">
												</i><i class="fa fa-star-o" ng-if="review.score >= 3">
												</i><i class="fa fa-star-o" ng-if="review.score >= 4">
												</i><i class="fa fa-star-o" ng-if="review.score >= 5">
												</i>
											</div>
										</div>
										
										<a href="{{review.link}}" class="in-google-text" ng-if="review.text != ''" target="_blank" ng-bind-html="review.text">{{review.text}}</a>
									</div>
									
									<p ng-if=" ! onl.reviews[o.toLowerCase()] || onl.reviews[o.toLowerCase()].length == 0" class="text-small empty-feedback">
										Er zijn nog geen online recensies om te laten zien.
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
			
		<div class="empty_reviews" ng-class="{'show': empty_filter}">
			<div class="empty_reviews_inner text-center">
				<img src="/application/views/images/business8.png" alt="" class="animated bounceIn"/>
				<p>
					Zodra we voldoende data hebben ziet u hier alle statistieken van uw praktijk en eventuele zorgverleners.
				</p>
			</div>
		</div>
	</div>
</div>

<script src="application/views/scripts/echarts.js"></script>