<div ng-controller="Charts2Ctrl">
	<div class="charts-filter-panel">
		<div class="row form-inline">
			<div class="col-sm-6">
				<label>Filter</label>&nbsp;&nbsp;
				<select class="form-control">
					<option value="">KIES FILTER</option>
				</select>
			</div>
			
			<div class="col-sm-6">
				<label>Toon</label>&nbsp;&nbsp;
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default active">E-MAIL <i class="fa fa-envelope"></i></button>
					<button type="button" class="btn btn-default">ONLINE <i class="fa fa-share-alt"></i></button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page page-charts">
		<section>
			<div class="row charts2-row">
				<div class="col-md-6 col-xs-12">
					<div class="panel panel-default">
						<div class="row">
							<div class="col-sm-5 col-xs-12">
								<div class="charts2-side-icons">
									<i class="fa fa-star-o" ng-show="data.average == 0"></i>
									<i class="fa fa-star-half-o" ng-show="data.average > 0 && data.average < 1"></i>
									<i class="fa fa-star" ng-show="data.average >= 1"></i>
									
									<i class="fa fa-star-o" ng-show="data.average <= 1"></i>
									<i class="fa fa-star-half-o" ng-show="data.average > 1 && data.average < 2"></i>
									<i class="fa fa-star" ng-show="data.average >= 2"></i>
									
									<i class="fa fa-star-o" ng-show="data.average <= 2"></i>
									<i class="fa fa-star-half-o" ng-show="data.average > 2 && data.average < 3"></i>
									<i class="fa fa-star" ng-show="data.average >= 3"></i>
									
									<i class="fa fa-star-o" ng-show="data.average <= 3"></i>
									<i class="fa fa-star-half-o" ng-show="data.average > 3 && data.average < 4"></i>
									<i class="fa fa-star" ng-show="data.average >= 4"></i>
									
									<i class="fa fa-star-o" ng-show="data.average <= 4"></i>
									<i class="fa fa-star-half-o" ng-show="data.average > 4 && data.average < 5"></i>
									<i class="fa fa-star" ng-show="data.average >= 5"></i>
								</div>
							</div>
							
							<div class="col-sm-7 col-xs-12">
								<div class="charts2-side-value">
									<div class="charts2-side-amount">
										{{data.average}}
									</div>
									
									<div class="charts2-side-text">
										De gemiddelde beoordeling van uw praktijk
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-xs-12">
					<div class="panel panel-default">
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.stars_count[5]}} beoordelingen
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.stars_count[4]}} beoordelingen
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.stars_count[3]}} beoordelingen
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.stars_count[2]}} beoordelingen
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-star-o"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.stars_count[1]}} beoordelingen
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div id="pie_stars" style="height: 178px;"></div>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div id="area_stars" style="height: 300px;"></div>
					</div>
				</div>
			</div>
			
			<div class="row charts2-row" ng-if="data.questions.length">
				<div ng-repeat="q in data.questions" class="col-sm-{{12 / data.questions.length}} col-xs-12">
					<div class="panel panel-default">
						<div class="charts2-questions-icon">
							<i class="{{q.stats_icon}}"></i>
						</div>
						
						<div class="charts2-questions-info">
							<div class="charts2-questions-average">
								{{q.average}}
							</div>
							
							<div class="charts2-questions-name">
								{{q.question_name}}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="charts2-dashed">
			</div>
			
			<div class="row charts2-row">
				<div class="col-md-6 col-xs-12">
					<div class="panel panel-default">
						<div class="row">
							<div class="col-sm-5 col-xs-12">
								<div class="charts2-side-icons">
									<div class="charts2-side-nps">
										<i class="fa fa-male o3" ng-repeat="n in range(nps['12'])"></i><i class="fa fa-male o5" ng-repeat="n in range(nps['3'])"></i><i class="fa fa-male" ng-repeat="n in range(nps['45'])"></i>
									</div>
								</div>
							</div>
							
							<div class="col-sm-7 col-xs-12">
								<div class="charts2-side-value">
									<div class="charts2-side-amount">
										{{data.average_nps.delta > 0 ? '+' : ''}}{{data.average_nps.delta}}
									</div>
									
									<div class="charts2-side-text">
										De NPS van uw praktijk
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-xs-12">
					<div class="panel panel-default charts2-min-box">
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-male green" ng-repeat="n in range(nps['45'])"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.average_nps['45']}} promotors
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-male yellow" ng-repeat="n in range(nps['3'])"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.average_nps['3']}} passives
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-male red" ng-repeat="n in range(nps['12'])"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.average_nps['12']}} detractors
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div id="pie_nps" style="height: 178px;"></div>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div id="area_nps" style="height: 300px;"></div>
					</div>
				</div>
			</div>
			
			<div class="charts2-dashed">
			</div>
			
			<!--div class="row charts2-row">
				<div class="col-md-6 col-xs-12">
					<div class="panel panel-default">
						<div class="row">
							<div class="col-sm-5 col-xs-12">
								<div class="charts2-side-icons">
									<i class="fa fa-paper-plane"></i>
								</div>
							</div>
							
							<div class="col-sm-7 col-xs-12">
								<div class="charts2-side-value">
									<div class="charts2-side-amount">
										{{data.reply}}%
									</div>
									
									<div class="charts2-side-text">
										Het percentage dat heeft geantwoord op uw uitnodigingen
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-xs-12">
					<div class="panel panel-default charts2-min-box">
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-male green" ng-repeat="n in range(nps['45'])"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.average_nps['45']}} promotors
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-male yellow" ng-repeat="n in range(nps['3'])"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.average_nps['3']}} passives
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
									<i class="fa fa-male red" ng-repeat="n in range(nps['12'])"></i>
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
									{{data.average_nps['12']}} detractors
								</div>
							</div>
						</div>
						
						<div class="row charts2-stars-count">
							<div class="col-xs-6">
								<div class="charts2-stars-count-icons">
								</div>
							</div>
							
							<div class="col-xs-6">
								<div class="charts2-stars-count-value">
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<div id="pie_nps" style="height: 178px;"></div>
						</div>
					</div>
				</div>
				
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div id="area_nps" style="height: 300px;"></div>
					</div>
				</div>
			</div-->
		</section>
	</div>
</div>

<script src="application/views/scripts/echarts.js"></script>