<div class="page page-profile" ng-controller="ComposeCtrl">
	<section class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				Stuur nieuwe uitnodigingen
			</h3>
		</div>
		
		<div class="panel-body">
			<div class="compose-steps-box">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-xs-12">
						<span ng-class="{active: (step == 0), future: (step < 0), past: (step > 0)}" class="btn btn-round btn-primary btn-lg btn-block btn-invoice-label">1. <span>Upload patiëntenbestand</span></span>
					</div>
					
					<div class="col-lg-3 col-md-4 col-xs-12">
						<span ng-class="{active: (step == 1), future: (step < 1), past: (step > 1)}" class="btn btn-round btn-primary btn-lg btn-block btn-invoice-label">2. <span>Controleer verzendlijst</span></span>
					</div>
					
					<div class="col-lg-3 col-md-4 col-xs-12">
						<span ng-class="{active: (step == 2), future: (step < 2), past: (step > 2)}" class="btn btn-round btn-primary btn-lg btn-block btn-invoice-label">3. <span>Stuur uitnodigingen</span></span>
					</div>
				</div>
			</div>
			
			<div class="well well-white">
				<div class="compose-steps-item" ng-show="step == 0">
					<form class="form-horizontal" enctype="multipart/form-data">
						<div class="drag-area btn-upload text-center">
							<div class="inner-upload-box" ng-show="status == 0">
								<i class="fa fa-cloud-upload"></i><br />
								Sleep een patiëntenbestand hiernaartoe.
								<span class="drag-span">We ondersteunen .xls, .xlsx en .tab bestanden.</span>
							</div>
							
							<div class="inner-upload-box" ng-show="status > 0">
								<div class="top-upload-box">
								</div>
								
								<div class="progress progress-bar-default">
									<div class="progress-bar" ng-class="{'progress-bar-success': status == 2, 'progress-bar-danger': status == 3}" role="progressbar" aria-valuenow="{{xlsFile.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{xlsFile.progress}}%;">
										<i class="fa fa-check"></i>
										<i class="fa fa-times"></i>
									</div>
								</div>
								
								<div ng-show="status == 1">
									<div class="too_long" ng-class="{'fade-out': too_long_time}">{{too_long_text}}</div>
									<span class="drag-span">Een ogenblik geduld...</span>
								</div>
								
								<div ng-show="status == 2">
									Het verwerken van uw patiëntenbestand is gelukt.
									<span class="drag-span">U kunt nu doorgaan naar de volgende stap.</span>
								</div>
								
								<div ng-show="status == 3">
									Het verwerken van uw patiëntenbestand is mislukt.
									<span class="drag-span">Wellicht heeft u een onjuist bestandsformaat geüpload. <a href="javascript:void(0);" ng-click="help()">Heeft u hulp nodig?</a></span>
								</div>
							</div>
							
							<input type="file" ng-show="status == 0" ngf-select ng-model="xlsFile" ng-change="uploadFile(xlsFile)" name="file" required ngf-model-invalid="errorFile" />
						</div>

						<div class="mail-actions">
							<span type="button" class="btn btn-primary btn-upload" ng-disabled="status == 1">
								<span>Kies bestand...</span>
								<input type="file" ngf-select ng-model="xlsFile" ng-change="uploadFile(xlsFile)" name="file" required ngf-model-invalid="errorFile" />
							</span>
							&nbsp;
							<a href="/excel-tpl" class="btn btn-default" ng-disabled="status == 1">Download sjabloon <i class="fa fa-file-o"></i></a>
						</div>
					</form>
				</div>
				
				<div class="compose-steps-item" ng-show="step == 1">
					<div class="alert alert-success" ng-if="check">
						<p>De verzendlijst is gecontroleerd en er zijn geen problemen gevonden.</p>
					</div>
					
					<div class="alert alert-warning" ng-if=" ! check">
						<p>Er zijn onderdelen met waarschuwingen gevonden. <a href="javascript:void(0);" ng-click="show_warnings()">{{ ! warnings ? 'Toon onderdelen' : 'Verberg onderdelen' }}</a></p>
					</div>
					
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>Controle</th>
									<th ng-repeat="key in keys">
										{{headers[key]}}
									</th>
								</tr>
								
								<tr>
									<td>&nbsp;</td>
									<td ng-repeat="key in keys">
										<select class="form-control" ng-model="column[key]" ng-change="save_col(key)" ng-class="{'border-red': column[key] == 0 && ! dont_use[key]}">
											<option value="0" ng-selected="column[key] == 0 || dont_use[key]">{{dont_use[key] ? 'Niet gebruiken' : 'Kies een kolom'}}</option>
											<option value="{{c}}" ng-repeat="c in cols" ng-selected="column[key] == c">{{c}}</option>
										</select>
									</td>
								</tr>
							</thead>
							
							<tbody>
								<tr ng-repeat="d in page_data">
									<td>
										<span class="btn btn-sm btn-success" ng-if="d.error == 0">In orde</span>
										<span class="btn btn-sm btn-warning" ng-if="d.error == 1">Dubbel</span>
										<span class="btn btn-sm btn-danger" ng-if="d.error == 2">Mist gegevens</span>
									</td>
									<td ng-repeat="key in keys" ng-bind-html="d[key]">
										{{d[key]}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<nav class="uploads-nav">
						<div class="pagination pull-right">
							{{rows_shown}} van {{rows_all}} onderdelen getoond
						</div>
						
						<ul class="pagination" ng-if="pages > 1">
							<li ng-class="{'disabled': page == 1}">
								<a href="javascript:void(0);" aria-label="Previous" ng-click="change_page(page - 1)">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li ng-class="{'active': page == i}" ng-repeat="i in get_array(pages)">
								<a href="javascript:void(0);" ng-click="change_page(i)">{{i}}</a>
							</li>
							<li ng-class="{'disabled': page == pages}">
								<a href="javascript:void(0);" aria-label="Next" ng-click="change_page(page + 1)">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				
				<div class="compose-steps-item" ng-show="step == 2">
					<div class="compose-finish" ng-show=" ! all_finished">
						<img src="/application/views/images/compose.svg" alt="" class="compose-icon" />
						U staat op het punt om {{send_emails.length}} patiënten een uitnodiging te sturen.
						<div class="compose-buttons">
							<button class="btn btn-danger" ng-click="send()" ng-disabled=" ! send_emails.length">Stuur uitnodigingen</button><br />
							<button class="btn btn-sm btn-default" ng-click="compose_prev()">Annuleer</button>
						</div>
					</div>
					
					<div class="compose-all" ng-show="all_finished">
						<div class="compose-all-icon">
							<i class="fa fa-check-circle"></i>
						</div>
						
						<div class="compose-all-text">
							Het versturen van uw uitnodigingen is gelukt!
							<span class="drag-span">U ontvangt in de regel binner 48 reacties van uw patiënten.</span>
						</div>
						
						<div class="compose-all-button">
							<a href="#/dashboard" class="btn btn-default">Terug naar dashboard</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row" ng-if="step < 2 && ! first_upload">
				<div class="col-sm-5 col-xs-12">
					<a href="javascript:void(0);" class="link-upload-help" ng-show="status > 1" ng-click="help()">Heeft u hulp nodig?</a><br /><br />
				</div>
				
				<div class="col-sm-7 col-xs-12 text-right">
					<button class="btn btn-primary compose-prev" ng-disabled="step == 0" ng-click="compose_prev()">Vorige</button>
					&nbsp;
					<button class="btn btn-primary compose-next" ng-disabled="status != 2" ng-click="compose_next()">Volgende</button>
				</div>
			</div>
		</div>
	</section>

	<script type="text/ng-template" id="help_upload.html">
		<div class="modal-header">
			<h3>
				Hulp bij het uploaden van uw patiëntenbestand
			</h3>
		</div>
		<div class="modal-body">
			<p>
				Als u problemen ervaart met het uploaden van uw patiëntenbestand kunt u onze Support-afdeling opdracht geven om het patiëntenbestand voor u te versturen.
			</p>
			
			<p>
				Wanneer u dit wenst, zullen wij uw patiëntenbestand controleren en voor u versturen. U ontvangt hiervan binnen één werkdag per e-mail een bevestiging.
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="confirm()">Geef toestemming</button>
			<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="first_upload.html">
		<div class="modal-header">
			<h3>
				Uw eerste upload
			</h3>
		</div>
		<div class="modal-body">
			<p>
				Omdat dit uw eerste upload is, zal het geüploade bestand worden gecontroleerd door het Patiëntenreview Support Team. Op deze manier kunnen we uw Patiëntenreview account afstellen op de door u aangeleverde patiëntenbestanden.
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="confirm()">Stuur</button>
			<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
		</div>
	</script>
	
	<script type="text/ng-template" id="define_doctors.html">
		<div class="modal-outer" ng-show=" ! add_doctor_var">
			<div class="modal-header">
				<h3>
					Koppel zorgverleners
				</h3>
			</div>
			<div class="modal-body">
				<p>
					In het door u geüploade patiëntenbestand zijn zorgverleners aangetroffen die nog niet in uw abonnement voorkomen. Koppel hieronder uw zorgverleners of voeg een nieuwe zorgverlener toe.
				</p>
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Zorgverleners in geüpload bestand</th>
							<th>Zorgverleners in abonnement</th>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="u in unknown">
							<td class="vertical-middle">{{u}}</td>
							<td>
								<select ng-model="selected[u]" class="form-control" ng-options="(d.title + ' ' + d.firstname + ' ' + d.lastname) for d in doctors track by d.id">
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				
				<button type="button" class="btn btn-primary" ng-click="add()">Voeg zorgverlener toe...</button>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="save()">Bewaar</button>
				<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
			</div>
		</div>
		
		<div class="modal-outer" ng-show="add_doctor_var">
			<div class="modal-header">
				<h3>
					Voeg nieuwe zorgverlener toe
				</h3>
			</div>
			<div class="modal-body">
				<div class="callout callout-info"  ng-if="user.account_type == 0 || (user.account_type == 1 && user.doctors > 3)">
					<p>
						Met het toevoegen van een zorgverlener zal &euro;60,00 per jaar in rekening gebracht worden.
					</p>
				</div>
				
				<form class="form-horizontal" role="form" name="form">
					<div class="form-group">
						<label class="col-md-4">Aanhef</label>
						<div class="col-md-8">
							<select class="form-control" name="title" ng-model="doctor.title" required="required">
								<option value="heer">heer</option>
								<option value="mevrouw">mevrouw</option>
								<option value="Dr.">Dr.</option>
								<option value="Drs.">Drs.</option>
							</select>
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<div class="form-group">
						<label class="col-md-4">Voornaam</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="firstname" ng-model="doctor.firstname" value="" required="required" />
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<div class="form-group">
						<label class="col-md-4">Achternaam</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="lastname" ng-model="doctor.lastname" value="" required="required" />
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<div class="form-group">
						<label class="col-md-4">Waarde in Excel-bestand</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="name" ng-model="doctor.name" value="" required="required" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="add_doctor()">Voeg toe</button>
				<button class="btn btn-default" ng-click="cancel_doctor()">Annuleer</button>
			</div>
		</div>
	</script>
	
	<script type="text/ng-template" id="define_locations.html">
		<div class="modal-outer" ng-show=" ! add_location_var">
			<div class="modal-header">
				<h3>
					Koppel locaties
				</h3>
			</div>
			<div class="modal-body">
				<p>
					In het door u geüploade patiëntenbestand zijn locaties aangetroffen die nog niet in uw abonnement voorkomen. Koppel hieronder uw locaties of voeg een nieuwe locatie toe.
				</p>
				
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Locaties in geüpload bestand</th>
							<th>Locaties in abonnement</th>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="u in unknown">
							<td class="vertical-middle">{{u}}</td>
							<td>
								<select ng-model="selected[u]" class="form-control" ng-options="(l.title) for l in locations track by l.id">
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				
				<button type="button" class="btn btn-primary" ng-click="add()">Voeg locatie toe...</button>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="save()">Bewaar</button>
				<button class="btn btn-default" ng-click="cancel()">Annuleer</button>
			</div>
		</div>
		
		<div class="modal-outer" ng-show="add_location_var">
			<div class="modal-header">
				<h3>
					Voeg nieuwe locatie toe
				</h3>
			</div>
			<div class="modal-body">
				<!--div class="callout callout-info"  ng-if="user.account_type == 0 || (user.account_type == 1 && user.doctors > 3)">
					<p>
						Met het toevoegen van een zorgverlener zal &euro;60,00 per jaar in rekening gebracht worden.
					</p>
				</div-->
				
				<form class="form-horizontal" role="form" name="form">
					<div class="form-group">
						<label class="col-md-4">Locatie</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="title" ng-model="location.title" value="" required="required" />
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<div class="form-group">
						<label class="col-md-4">Adres</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="address" ng-model="location.address" value="" required="required" />
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<div class="form-group">
						<label class="col-md-4">Postcode</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="postcode" ng-model="location.postcode" value="" required="required" />
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<div class="form-group">
						<label class="col-md-4">Stad</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="city" ng-model="location.city" value="" required="required" />
						</div>
					</div>
					
					<div class="divider divider-dashed divider-lg pull-in"></div>
					
					<div class="form-group">
						<label class="col-md-4">Waarde in Excel-bestand</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="name" ng-model="location.name" value="" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="add_location()">Voeg toe</button>
				<button class="btn btn-default" ng-click="cancel_location()">Annuleer</button>
			</div>
		</div>
	</script>
</div>