<div class="page page-mail">
    <div class="row">

        <div class="col-sm-3 mail-categories">
            <div class="category-heading">
                <a href="#/mail/compose" class="btn btn-block btn-lg btn-primary">Stuur nieuwe uitnodiging</a>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="#/mail/inbox">
                    <i class="ti-folder"></i>Ontvangen
                    <span class="badge badge-primary pull-right" ng-if="inbox_count() > 0">{{inbox_count()}}</span>
                </a></li>
            </ul>
        </div>

        <div class="col-sm-9">
            <section class="panel panel-default mail-container" ng-controller="SingleCtrl" ng-init="init(<?php echo $id; ?>)">
                <div class="panel-heading">Bekijk feedback</div>
                <div class="panel-body">
                    <div class="mail-header row">
                        <div class="col-md-8">
                            <h3>{{words[info.stars]}}</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right" ng-if=" ! info.reply">
                                <a href="#/mail/reply/{{info.id}}" class="btn btn-sm btn-primary">Beantwoord</a>
                            </div>
                        </div>
                    </div>
                    <div class="mail-info">
                        <div class="row">
                            <div class="col-md-8">
                                <span ng-if="info.email != ''">Van: <strong>{{info.name}} {{info.sname}}</strong> ({{info.email}})</span>
                            </div>
                            <div class="col-md-4">
                                <div class="pull-right">
                                    {{info.date_time}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mail-content">
                        <p class="mail-content-reply">{{info.feedback}}</p>
                    </div>
					
                    <div class="mail-actions" ng-if=" ! info.reply">
                        <a href="#/mail/reply/{{info.id}}" class="btn btn-sm btn-primary">Beantwoord</a>
                    </div>

					<div class="mail-info" ng-if="info.reply">
                        <div class="row">
                            <div class="col-md-8">
                                <strong>Uw reactie aan de patiënt</strong>
                            </div>
                            <div class="col-md-4">
                                <div class="pull-right">
                                    {{info.reply_time}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mail-content">
                        <p class="mail-content-reply">{{info.reply}}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>