<!DOCTYPE html>
<html>
	<head>
	</head>
	
	<body style="padding: 0; margin: 0;">
		<div style="margin: 0 auto; min-width: 400px; background: #EAEAEA;">
			<div style="padding: 15px 15px 0;">
				<div style="height: 30px; background: #fff; padding: 10px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);">
					<a href="javascript:void(0);">
						<img src="<?php echo $domain; ?>application/views/images/logo_full.png" height="30" alt="" />
					</a>
				</div>
			</div>
			
			<div style="padding: 15px 15px 0;">
				<div style="background: #fff; border-radius: 10px 10px 0 0; border: solid #E3E3E3 1px;">
					<p style="margin: 0; font: bold 14px/40px arial, sans-serif; color: #525354; padding: 0 10px; background: #F6F6F6; border-radius: 10px 10px 0 0;">
						Account van <?php echo $username; ?> is geblokkeerd.
					</p>
					
					<div style="padding: 20px;">
						Door herhaaldelijke foutieve invoer van de authenticatiecode is de toegang tot het account van <?php echo $username; ?> met het telefoonnummer <?php echo $mobile; ?> om veiligheidsredenen geblokkeerd.
					</div>
				</div>
				
				<p style="margin: 0; padding: 15px 0 10px; font: 11px/1.3 arial, sans-serif; color: #525354; text-align: center;">
					&copy; <?php echo date("Y"); ?> Patientenreview.nl. Alle rechten voorbehouden.
				</p>
			</div>
		</div>
	</body>
</html>